.aboutUs_company_intro {
    background-color: $secondary_dark;
    & h2 {
        text-align: center;
        background-color: $fontcolor_10;
        @include t() {
           font-size: $s3 - 60;
          }
    }

    .aboutUs_company_intro_content {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $secondary_dark;
        .aboutUs_company_intro_content_img img {
            width: 300px;
        }
        .aboutUs_company_intro_content_text {
            margin-left: 60px;
            width: 300px;
            color: $fontcolor_10;
        }
    }
}

.company_history h2 {
    margin-top: 40px;
    text-align: center;
    @include t() {
        font-size: $s3 - 60;
       }
}
.timetree {
    margin-top: 40px;
}

.timeline {
    list-style: none;
    width: 80%;
    margin: 10px auto;
    position: relative;
    padding: 0;
}

.timeline:before {
    content: '';
    width: 20px;
    border:3px dashed $secondary_100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background: $primary_100;
    /* z-index: -2; */
}

.timeline:after {
    content: '';
    clear: both;
    display: table;
}

.timeline .time {
    float: left;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.timeline .time .content {
    background: $secondary_100;
    // border: 3px solid #ccc;
    padding: 15px 50px;
    font-size: 24px;
    color: $fontcolor_10;
    // width: 50px;
    display: inline-block;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    z-index: 10;
    // color: #ccc;
    position: relative;
     p{

     }
}

.timeline .time:first-child {
    margin-top: 0;
}

.timeline .time:last-child {
    margin-bottom: 0;
}

.timeline .branch {
    position: relative;
    padding: 10px;
    width: 60%;
    float: left;
    margin: 15px 23px 15px 0;
}

// .timeline .branch:after {
//     content: '';
//     width: 20px;
//     height: 20px;
//     background: #fff;
//     border: 2px solid #ccc;
//     -moz-border-radius: 100%;
//     -webkit-border-radius: 100%;
//     border-radius: 100%;
//     position: absolute;
//     top: 5px;
//     left: 308px;
// }
.timeline .branch .content {
    background: $fontcolor_10;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    min-height: 80px;
    box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $secondary_dark;
}

// .timeline .branch .content:after,
// .timeline .branch .content:before {
//     content: '';
//     border: 10px solid transparent;
//     border-left-color: #fff;
//     position: absolute;
//     top: 0;
//     left: 284px;
// }
// .timeline .branch .content:before {
//     border-left-color: #ccc;
//     left: 285px;
// }
.timeline .branch .content h3 {
    margin: 0;
}

.timeline .branch .content p {
    margin: 0 0 5px;
}

.timeline .branch:nth-child(2n+1) {
    float: right;
    margin: 15px 0 15px 25px;
}

.timeline .branch:nth-child(2n+1):after {
    left: auto;
    right: 307px;
}

.timeline .branch:nth-child(2n+1) .content:after,
.timeline .branch:nth-child(2n+1) .content:before {
    border-left-color: transparent;
    border-right-color: #fff;
    left: auto;
    right: 284px;
}

.timeline .branch:nth-child(2n+1) .content:before {
    border-right-color: #ccc;
    right: 285px;
}

.designers {
    text-align: center;
}

.designers_summary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include t {
        max-width: 678px;
        margin: 0 auto;
       
        flex-direction: column;
    }
}


.designer_card {
    background-color: $secondary_dark;
  
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

    // background-image: url('../images/aboutus.lamp1.png');
}

.designer_works img {
 width: 100%;
}

.designer_intro {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
    img {   
        width: 40%;
    }
}

.designer_works {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.designer_work {
   width: 30%;
   margin: 40px;
}
.aboutus_button {
    margin: 0 auto;

    button {
        font-size: 36px;
        cursor: pointer;
    }
}

.designer_slogan {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $fontcolor_10;
}

.designer_name,
.designer_art,
.designer_article {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.designer_words,
.design_spirit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: 70%;
    background-color: $primary_70;
    padding: 20px;

    @include t {
        max-width: 678px;
        margin: 0 auto;
        flex-direction: column;
    }
}

.designer_artwork {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: 70%;
    background-color: $primary_70;
    padding: 20px;
    flex-direction: row-reverse;
}

.designer_presentation,
.designer_artworks,
.designer_spirit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

    @include t {
        max-width: 678px;
        margin: 0 auto;
        flex-direction: row;
    }
}

.designer_image {
    margin: 10px;

    img {
        width: 200px;
    }
}

.designer {
    & h1{
        text-align: center;
        margin: 40px 0px;
    }
    margin-bottom: 20px;
}
.timetreecontainer{
    position: relative;    
}
.timetreeimg{
    position: absolute;
    top: 70%;
    opacity: 0.5;
    filter: blur(5px);
}
.timetreeimg1{
    position: absolute;
    top: 0%;
    left: 55%;
    opacity: 0.5;

    filter: blur(5px);
}
.timetreeimg2{
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0.5;

    filter: blur(5px);
}
.timetreeimg3{
    position: absolute;
    top: 60%;
    left: 55%;
    opacity: 0.5;

    filter: blur(5px);
}