.beCont {
    background-image: url(./../images/backend_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fontTitle {
    color: $secondary_100;
}

.fontColor {
    color: $fontcolor_100;
}

//------------------------大標題
.beNews_titleH1 {
    border-bottom: 5px solid $secondary_100;
}

//------------------------按鈕樣式<小>
.newsbtn {
    text-align: center;
    padding: 0 10px;
    font-size: round($font_size * 1);
    font-family: $fontcontent;
    background-color: $primary_100;
    color: $fontcolor_10;
    border: none;
    transition: $btn_trans;
    border-radius: $btn_br;
    cursor: pointer;
    &:hover {
        background-color: $primary_dark;
    }
}

.newListBtn {
    text-align: right;
    & button {
        padding: 0 10px;
    }
}

//------------------------燈箱
#AD_lightBox,
#BD_lightBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.6);
}

.DlightBox_list {
    background-color: $white;
    width: 82%;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    left: 115px;
    & .formDOne {
        display: flex;
        & label {
            color: $primary_dark;
        }
        & select {
            padding: round($ip_base * 1px) round($ip_base * 2px);
            //-------------
            border: 2px solid $secondary_30;
            border-radius: $ip_br;
            //--------------
            font-size: $font_size; //16px
            font-family: $fontcontent;
            color: $fontcolor_dark;
        }
    }
    & .formDTwo {
        & div {
            & label {
                color: $primary_dark;
            }
        }
    }
    & .lastBtn {
        text-align: right;
    }
}

//------------------------左邊
body::-webkit-scrollbar {
    width: 0rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body:hover::-webkit-scrollbar-thumb {
    background: transparent;
}

.backendD_Container {
    display: flex;
    height: auto;
    min-height: 100vh;
    & .beMenu {
        width: 12.5%;
        background-color: $secondary_100;
        box-sizing: border-box;
        position: relative;
        .logo {
            width: 200px;
            margin: 0 auto;
            position: sticky;
            top: 0;
            left: 0;
            & img {
                width: 90%;
                vertical-align: top;
                object-fit: cover;
            }
        }
        & ul {
            width: 12.5%;
            position: fixed;
            top: 100px;
            left: 0;
            & li {
                color: $fontcolor_70;
                border-left: 3px solid transparent;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
            }
            & a {
                text-decoration: none;
            }
            & li:hover {
                border-left: 3px solid $primary_dark;
                color: $primary_dark;
            }
            & li.currentM {
                color: $white;
            }
        }
    }
    & .beCont {
        width: 87.5%;
    }
}

.currentM {
    background-color: $primary_100;
}

//------------------------右邊
.sectFirst {
    text-align: center;
    & .desIntroduction {
        margin: auto;
        display: flex;
        & .desImg {
            width: 40%;
            text-align: left;
            margin: auto;
        }
        & .desTxt {
            text-align: left;
        }
    }
}

.tArea {
    border: 2px solid $secondary_30;
    border-radius: $ip_br;
    &:focus {
        transition: 100ms;
        box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $primary_30;
        border: solid 2px $primary_100;
        outline: none;
    }
}

//------------------------列表標題
.beNews_title {
    display: flex;
    padding: 10px;
    background-color: $secondary_70;
    & p {
        width: 20%;
        color: #ffff;
    }
}

//------------------------列表表格
.backendD_text {
    display: flex;
    box-sizing: border-boxs;
    // max-height: 400px;
    height: 25px;
    padding: 10px;
    & p {
        width: 20%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & span {
        width: 10%;
    }
    & button {
        width: 10%;
    }
}

.backendD_details:nth-child(even) {
    background: #f1e3da;
}

.listGrow {
    flex-grow: 1;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mem_content {
    display: none;
}

.mem_content#mainElm11 {
    display: block;
}

.membList {
    overflow-y: hidden;
}

#myImage {
    width: 400px;
}
.beNews_details{
    max-height: 30vh
}