.beCont {
    background-image: url(./../images/backend_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fontTitle{
    color: $secondary_100;
}
.fontColor{
    color: $fontcolor_100;
}
.lightBox_title{
    background-color: $primary_100;
    color: #ffff;
}
.Bk_flex-grow{
    flex-grow: 1;
}
//------------------------大標題
.backend_titleH1{
    border-bottom: 5px solid $secondary_100;
}
//------------------------按鈕樣式<小>
.bkbtn{
    text-align: center;
    padding: 0 10px;
    font-size: round($font_size * 1);
    font-family: $fontcontent;
    background-color: $primary_100;
    color: $fontcolor_10;
    border: none;
    transition: $btn_trans;
    border-radius: $btn_br;
    cursor: pointer;
    &:hover{
        background-color: $primary_dark;
    }
}
.newListBtn{
    text-align: right;
    & button{
        padding: 0 10px;
    }
}
.tyDate{ //日期樣式
    height: round($ip_base * 2px);
    padding: round($ip_base * 1px) round($ip_base * 2px);
    //-------------
    border: 2px solid $secondary_30;
    border-radius: $ip_br;
    //--------------
    font-size: $font_size; //16px
    font-family: $fontcontent;
    color: $fontcolor_dark;
    //--------------
    &:focus {
        transition: 100ms;
        box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $primary_30;
        border: solid 2px $primary_100;
        outline: none;
    }
    
}
//------------------------燈箱
#A_lightBox , #B_lightBox , #C_lightBox , #D_lightBox , #D_lightBox , #N_lightBox , #P_lightBox , #O_lightBox ,
#A_edit_lightBox , #B_edit_lightBox , #C_edit_lightBox , #D_edit_lightBox , #N_edit_lightBox , #P_edit_lightBox , #O_edit_lightBox
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(66, 66, 66, 0.6);

}
.lightBox_list{
    background-color: $white;
    width: 80%;
    max-height: 95vh;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    left: 55px;
    margin: auto 0;
    overflow-y: scroll;
    & .formOne{
        display: flex;
        & .LBcol{
            display: flex;
            & .LBcolTitle{
                width: 100px;
                text-align: right;
                & label{
                    color: $primary_dark;
                }
            }
            & .LBcolCredit{
                width: 200px;
            }
            & select{
                padding: round($ip_base * 1px) round($ip_base * 2px);
                //-------------
                border: 2px solid $secondary_30;
                border-radius: $ip_br;
                //--------------
                font-size: $font_size; //16px
                font-family: $fontcontent;
                color: $fontcolor_dark;
                //--------------
                &:focus {
                    transition: 100ms;
                    box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $primary_30;
                    border: solid 2px $primary_100;
                    outline: none;
                }
            }
            & textarea{
                padding: 8px 16px;
            }
            & img{
                width: 70%;
            }
        }
    }
    & .formTwo{
        & div{
            display: flex;
            .promotionsDiv{
                width: 10%;
                text-align: right;
                & label{
                    color: $primary_dark;
                    width: 100%;
                }
            }
            .promotionsDivtxt{
                width: 17%;
                & input{
                    width: 100%;
                }
                & select{
                    width: 100%;
                    padding: round($ip_base * 1px) round($ip_base * 2px);
                    //-------------
                    border: 2px solid $secondary_30;
                    border-radius: $ip_br;
                    //--------------
                    font-size: $font_size; //16px
                    font-family: $fontcontent;
                    color: $fontcolor_dark;
                    //--------------
                    &:focus {
                        transition: 100ms;
                        box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $primary_30;
                        border: solid 2px $primary_100;
                        outline: none;
                    }
                }
                
            }
        }
        & ul{
            & li{
                display: flex;
                & label{
                    color: $primary_dark;
                }
                & p{
                    width: 13%;
                }
            }
        }
    }
    & .formThree{
        display: contents;
        & .ip_width{
            width: 900px;
        }
    }
    & .lastBtn{
        text-align: right;
    }
}
.lightBox_list::-webkit-scrollbar{
    display: none;
}
//------------------------左邊
body::-webkit-scrollbar{
    width: 0rem;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body:hover::-webkit-scrollbar-thumb{
    background: transparent;
}
.backendContainer{
    display: flex;
    height: auto;
    min-height: 100vh;
    & .beMenu{
        width: 12.5%;
        
        background-color: $secondary_100;
        box-sizing: border-box;
        position: relative;
        .logo{
            width: 160px;
            margin: 0 auto;
            position: sticky;
            top: 0;
            left: 0;
            & img{
                width: 100%;
                vertical-align: top;
                object-fit: cover;
            }
        }
        & ul{
            width: 12.5%;
            position: fixed;
            top: 100px;
            left: 0;
            & li{
                color: $fontcolor_70;
                border-left: 3px solid transparent;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
            }
            & a{
                text-decoration: none;
            }
            & li:hover{
                border-left: 3px solid $primary_dark;
                color: $primary_dark;
            }
            & li.currentM {
                color: $white;
            }
        }
    }
    & .beCont{
        width:87.5%;
        
    }
}
.currentM{
    background-color: $primary_100;
}
//------------------------列表標題
.backend_title{
    display: flex;
    padding: 10px;
    background-color: $secondary_70;
    & p{
        width: 8%;
        color: #ffff;
    }
}
//------------------------列表表格
.backend_text{
    display: flex;
    box-sizing: border-boxs;
    padding: 10px;
    & p{
        width: 8%;
        & img{
            width: 50%;
        }
    }
    & button{
        width: 8%;
    }
}
.carouselPlace button{
    width: 100%;
}
.backend_details:nth-child(even){
    background:#f1e3da;
}
.listGrow{
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pages{
    display: flex;
    justify-content: center;
    & p{
        border: 1px solid #aaa;
    }
}
.mem_content{
    display: none;
}
.mem_content#mainElm1{
    display: block;
}
.membList{
    overflow-y: hidden;
}
.carouselPlace p{
    display: flex;
    align-items: center;
}