.breadcrumbList {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    list-style: none;

    li {
        font-size: 0.85rem;
        letter-spacing: 0.125rem;

        a {
            color: $fontcolor_100;
            text-decoration: none;
        }
    }

    .breadcrumbItem {
        &.active {
            color: $primary_100;
        }

        +.breadcrumbItem {
            &::before {
                content: '>';
                display: inline-block;
                padding: 0 0.5rem;
                color: $fontcolor_100;
            }
        }
    }
    @include t {
        padding: 3rem 0;
    }
    @include m {
        padding: 2rem 0;
    }
}