#designerInner_banner {
    text-align: center;
    margin: 20px;
}

#designerInner_selfintro {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $secondary_100;
    }

    & div {
        margin-left: 20px;
        width: 25%;
        color: $secondary_100;
    }
}

#designerInner_lamp {
    background-color: $secondary_100;
    color: $white;
    margin: 50px 0px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        width: 50%;
    }
}

#designerInner_article {
    margin: 50px 0px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        width: 50%;
    }
}