.entrance {
  width: 100%;
  height: 100vh;
}
.entrance_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1543589076-bddcb054f426?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.entrance_box {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: $primary_100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $secondary_100;
  transition: 0.3s;
  & h1{
    color: $secondary_100;
  }
  &:hover{
    box-shadow: 0 $ip_shadow $ip_shadow * 3 0 $white;
  }
}
// .entrance_lamp_bg {
//   width: 100%;
//   height: 100vh;
//   margin-right: auto;
//   margin-left: auto;
//   overflow: hidden;
//   // position: absolute;
//   top: 0;
//   left: 0;

// }
.entrance_lamp{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 46.5%;
    
}
#entrance_light {
  width: 100%;
  height: 100vh;
  background-color:hsla(0,0%,0%,0.8);
  position: absolute;
  top: 0;
  pointer-events: none;
}
