.member_container {
  display: flex;
  width: 100%;
  @include t() {
    display: inline-block;
  }
}
.member_sidemenu {
  width: 20%;
  background-color: $primary_100;
  text-align: center;
  @include t() {
    width: 100%;
}
  & button {
    margin-top: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: $white;
    &:hover {
      background-color: $secondary_70;
    }
    @include t() {
      margin: 0px;
  }
  }
  & h1 {
    margin: 20px;
    color: $fontcolor_100;
    @include t() {
      margin: 0px;
      font-size: 22px;
  }
  }
  & ul {
    text-align: center;
    color: $secondary_100;
    @include t() {
      display: flex;
      justify-content: space-evenly;
  }
    & li {
      cursor: pointer;
      transition: 0.3s;
      box-sizing: border-box;
      border-bottom: 2px solid $primary_100;
      @include t() {
        font-size: 14px;
        padding: 10px;
        display: flex;
        align-self: center;
    }
      &:hover {
        background-color: $secondary_70;
        color: $primary_30;
      }
    }
  }
}
.member_colstay{
    background-color: $secondary_70;
    color:$white;
}
.memberform_content {
  width: 80%;
  @include t() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
}
.membercenter_form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  @include t() {
    width: 100%;
  }
}
.memberform_profiles {
  display: flex;
  @include t() {
  display: inline-block;
  width: 100%;
}
}
.member_hide {
  display: none;
}
.memberform_label {
  display: flex;
  flex-direction: column;
  @include t() {
    width: 40%;
  }
  
}
//帳號登入
#member_welcome {
  width: 100%;
  height: 100%;
  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @include t() {
      font-size: $s3 - 40px;
  }
  }
  & span {
    display: flex;
    justify-content: center;
    color: $fontcolor_100;
    & a {
      padding-left: 10px;
      font-size: 20px;
    }
  }
  & form {
    text-align: center;
    & div {
      margin: 20px;
      & input{
        max-width: 100%;
      }
      & label {
        padding: 0px 10px;
      }
    }
    & .btn_normal {
      font-size: 20px;
    }
  }
}
// -----
#member_center_profiles {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  @include t() {
    width: 100%;
  }
  & form div label {
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 20px;
    font-family: $fontcontent;
    @include t() {
      font-size: 14px;
    }
  }
  & form div input {
    font-family: $fontcontent;
    margin-top: 20px;
    @include t() {
      font-size: 14px;
      width: 50%;
    }
    
  }
}
#member_center_changepassword {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  @include t() {
    width: 100%;
  }
  & h1{
    text-align: center;
  }
  & form{
    display: flex;
    justify-content: center;
  }
  & form div label {
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 20px;
    font-family: $fontcontent;
    @include t() {
    font-size: 12px;
    text-align: start;
  }
  }
  & form div input {
    font-family: $fontcontent;
    margin-top: 20px;
    @include t() {
      font-size: 14px;
      width: 50%;
    }
  }
}
// ---
.memtable {
  width: 80%;
  margin: 20px 0px;
  border: 1px solid $primary_100;
  & thead tr th {
    color: $white;
    background-color: $primary_100;
  }
  & tbody tr td {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
  }
   & tbody tr td img {
   width: 100px;
  }
}
.memtable_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
  & button{
    text-align: center;
    padding: 20px;
    max-width: 200px;
  }
}
.member_photo {
  text-align: center;
  & div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    & label {
      color: $fontcolor_100;
      transition: 0.3s;
      font-size: 32px;
      cursor: pointer;
    }
    & img {
      width: 100%;
      transition: 0.3s;
    }
    &:hover img {
      filter: blur(3px);
    }
    &:hover label {
      color: $fontcolor_10;
      background-color: $primary_dark;
      border-radius: 10px;
    }
  }
  @include t {
    margin-top: 10px;
  }
}
.ip_file {
  display: none;
}
#member_Lightbox{
  background-color: rgba(10, 20, 47, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  & div{
    opacity: 1;
    width: 400px;
    height: 150px;
    background-color: $white;
    border-radius: 20px;
     text-align: center;
    & h1{
      background-color: $primary_100;
    }  
    & div{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    & button{
      padding: 0px 40px;
      max-width: 100px;
      margin-right: auto;
      margin-left: auto;
    }
    }
  }
}
#orderdetail_container{
  background-color: rgba(10, 20, 47, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 500;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & .orderdetail_item{

    background-color: $white;
    width: 800px;
    border-radius: 20px;
    & h1{
      text-align: center;
      background-color: $primary_100;
    }
    & #orderDetail_member{
      padding: 10px;
      margin: 10px;
      border: solid 2px $primary_100;
      & p{
        padding: 10px;
      }
    }
    & .orderDetail_product{
      overflow-y: scroll;
      margin: 10px;
      padding: 20px;
      border: solid 2px $primary_100;
      height: 200px;
      & ul{
        padding: 10px;
        border-bottom: 2px solid $secondary_100;
        text-align: start;
        display: flex;
        
        & li{
          width: 33%;
        }
      }
      & div{
        margin: 20px;
        width: 20%;
        position: relative;
        right: -70%;
      }
    }
    & button{
      max-width: 100px;
      margin: 10px;
      padding: 0px 40px;
      position: relative;
      right: -80%;
    }
  }
}
