.fontTitle{
    color: $primary_100;
}
.fontColor{
    color: $fontcolor_100;
}
.newsCard{
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid $fontcolor_100;
    box-sizing: border-box;
    @include t{
        display: inline-block;
    }
}
.newsCard:last-child{
    border-bottom: none;
}
.newsCard:nth-of-type(6){
    border-bottom: 0px;
}
.newsPic{
    width: 30%;
    height: 100%;
    text-align: center;
    @include t{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center;
    }
    & img{
        max-width: 100%;
        max-height: 100%;
        vertical-align: bottom;
        @include t{
            width: 200px;
            height: 200px;
        }
    }
}
.newsText{
    width: 100%;
    box-sizing: border-box;
}
.menu_title{
    display: flex;
    & h1{
        width: 65%;
        @include t{
            width: 100%;
        }
    }
    & p{
        width: 35%;
        text-align: right;
    }
    @include t{
        display: contents;
    }
}