.fontTitle{
    color: $primary_100;
}
.fontColor{
    color: $secondary_70;
}
.newsCard{
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    display: flex;
    align-items: center;
    border-bottom: 1px solid $fontcolor_30;
    box-sizing: border-box;
    @media screen and (max-width: 1248px) {
        display: inline-block;
        height: auto;
    }

    @include t{
        display: inline-block;
        height: auto;
    }
}
.newsCard:last-child{
    border-bottom: none;
}
.newsCard:nth-of-type(6){
    border-bottom: 0px;
}
.newsPic{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    @media screen and (max-width: 1248px) {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        text-align: center;
    }
    @include t{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        text-align: center;
    }
    & img{
        max-width: 100%;
        max-height: 350px;
        vertical-align: bottom;
        @media screen and (max-width: 1248px) {
            height: 200px;
        }
        @include t{
            height: 200px;
        }
    }
}
.contentTitle{
    font-size: 36px;
    background-color: $primary_100;
    color: $secondary_70;
}
.newsText{
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
}
.menu_title{
    display: flex;
    & h1{
        width: 65%;
        @media screen and (max-width: 1248px) {
            width: 100%;
        }
        @include t{
            width: 100%;
        }
    }
    & p{
        width: 35%;
        text-align: right;
        @media screen and (max-width: 1248px) {
            width: auto;
            text-align: left;
        }
        @include t{
            width: auto;
            text-align: left;
        }
    }
    
    @media screen and (max-width: 1248px) {
        display: contents;
    }
    @include t{
        display: contents;
    }
}