/* 商品主頁 */
.containerALL {
    @include m {
        margin-bottom: 2rem;
    }
}
.product_main_box {
    display: flex;
    .main_product_img {
        width: 45%;
        display: flex;
        flex-direction: column;
        .product_overlay {
            height: 591.3px;
        }
        img {
            width: 100%;
            object-fit: cover;
            vertical-align: top;
            @include t {
                margin-bottom: 1rem;
            }
        }
        .small_products_img_box {
            display: flex;
            justify-content: space-between;
            .small_products_img {
                width: 175px;
                padding-right: 0.5rem;
                img {
                    width: 100%;
                    object-fit: cover;
                    vertical-align: top;
                }
            }
        }
        @include t {
            .small_products_img_box {
                .small_products_img {
                    width: 90px;
                }
            }
        }
        @include m {
            width: 100%;
        }
    }
    
    .purchase_panel {
        width: 55%;
        float: left;
        .promotions {
            color: $errorcolor;
        }
        .product_name {
            color: $fontcolor_100;
        }
        .product_price {
            color: $fontcolor_100;
            display: flex;
            align-items: center;
            .orignal_price {
                text-decoration: line-through;
                margin-right: 2rem;
                span {
                    margin-right: 0.1rem;
                }
            }
            .promotions_price {
                color: $errorcolor;
                span {
                    margin-right: 0.25rem;
                }
            }
        }
        .color_selector {
            color: $fontcolor_100;
            display: flex;
            select {
                color: $fontcolor_70;
                border: 1px solid $fontcolor_30;
                option {
                    color: $fontcolor_100;
                }
            }
        }
        .purchase_function {
            display: flex;
            align-items: center;
        }
        .buyNowButton, .addButton, .favoriteButton {
            color: $fontcolor_100;
            cursor: pointer;
            .fa-credit-card, .fa-cart-plus, .fa-heart {
                margin-right: 0.5rem;
            }
            @include t {
                max-width: 678px;
            }
            @include m {
                margin-right: 2rem;
            }
        }
        @include t {
            max-width: 678px;
            padding-left: 2rem;
            .promotions, .product_name, .product_price,  .color_selector, .purchase_function {
                margin-bottom: 2.5rem;
            }
        }
        @include m {
            width: 100%;
            padding-left: 0;
            .promotions, .product_name, .product_price, .color_selector, .purchase_function { margin-bottom: 0.75rem; }
        }
    }
    @include t {
        margin-bottom: 3rem;
    }
    @include m {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
}

.product_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 500px;
    height: 500px;
    @include t {
        width: 100%;
    }
}


/* 商品資訊 */

.product_details_box {
    color: $fontcolor_100;
    .discribe, .specification {
        color: $fontcolor_30;
        border-bottom: 2px solid transparent;
        padding: 0.75rem 2rem;
        display: inline-block;
    }
    .byclicked {
        color: $primary_100;
        border-bottom: 2px solid $primary_100;
    }
    .product_detail {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    @include m {
        .detail_switch {
            display: flex;
            justify-content: space-around;
        }
        .discribe, .specification {
            padding: 0;
        }
    }
}

.hidden {
    display: none;
}


/* 設計師簡介 */

.product_designer_box {
    .product_designer {
        display: flex;
        .product_designer_img {
            width: 25%;
            img {
                width: 100%;
                object-fit: cover;
                vertical-align: top;

                @include m {
                    height: 250px;
                    
                }
            }
            @include t {
                max-width: 678px;
                width: 30%;
            }
            @include m {
                width: 100%;
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
        @include t {
            max-width: 678px;
        }
        @include m {
            flex-direction: column;
        }
        .product_designer_intro_box {
            color: $fontcolor_100;
            h2 {
                color: $fontcolor_dark;
            }
            .designer_link {
                color: $white;
                background-color: $primary_100;
                width: 4rem;
                height: auto;
                padding: 1rem 2rem;
                text-decoration: none;
                transition: 0.3s all ease-in-out;
                &:hover {
                    background-color: $primary_dark;
                }
            }
            @include t {
                width: 70%;
                .product_designer_intro_content {
                    margin-bottom: 2rem;
                }
            }
            @include m {
                width: 100%;
            }
        }
    }
}


/* 相關商品 */

.relative_products {
    display: flex;
    flex-direction: column;
    .title {
        color: $fontcolor_100;
    }
    h2 {
        color: $white;
        float: left;
        @include m {
            margin-bottom: 2rem;
        }
    }
    @include m {
        .category_wrap {
            margin: 0;
        }
    }
}