    .cart {
        position: absolute;
        right: 200px;
        top: 100px;
    }
    
    .cart img {
        width: 200px;
    }
    
    .addButton {
        cursor: pointer;
    }
    
    .product_intro {
        display: flex;
        align-items: center;
    }