.addButton,
.buyNowButton,
.collectButton {
    cursor: pointer;
    @include t {
        max-width: 678px;
        margin: 0 auto;
        font-size: 12px;
        width: 20px;
    }
}

.product_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 400px;
    width: 400px;
}

.product_main {
    display: flex;
    justify-content: center;
}

.product_intro {
    width: 50%;
    padding: 30px;
    border-radius: 25px;
    background-color: #f1e3da;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 400px;
    }
    .same_products {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        img {
            width: 100px;
        }
    }
}

.product_price {
    color: $primary_dark;
}

.product_name {
    color: $primary_100;
}

.product_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 514.8px;
    margin-left: 40px;
    select {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

#buyNow,
#shopButton {
    margin-bottom: 35px;
}

.hidden {
    display: none;
}

.product_discribe,
.product_format {
    width: 600px;
}

.product_content {
    margin-top: 40px;
    text-align: center;
    background-color: #f1e3da;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid saddlebrown;
}

.product_btn {
    border-bottom: 5px solid saddlebrown;
    width: 100%;
    padding-bottom: 10px;
}

.product_details {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.product_detail {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.product_designer {
    background-color: $secondary_100;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 60%;
    border-radius: 10px;
}

.product_designer_img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20px;
    button {
        margin-top: 10px;
        width: 150px;
        height: 50px;
        font-size: 12px;
        padding: 0;
    }
    img {
        width: 150px;
    }
}

.product_designer_intro {
    margin-left: 10px;
    width: 250px;
    h2 {
        margin-bottom: 10px;
    }
    color: $fontcolor_30;
}

.relative_products {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    h2 {
        font-size: 36px;
        @include t {
            max-width: 678px;
            margin-top: 20px;
        }
    }
    @include t {
        max-width: 678px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
}

.relative_product {
    margin: 30px;
    img {
        width: 150px;
    }
}

.product_designers {
    display: flex;
    justify-content: center;
}

.moreworks {
    h2 {
        text-align: center;
        font-size: 36px;
        margin-top: 20px;
    }
}