.supportPage.containerAll * {
    box-sizing: border-box;
}
.supWrapper{
    position: relative;
    display: flex;
    @include t {
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // border: 1px solid red;
      }
}
.faqCategory{
    width: 15%;
    height: 500px;
    line-height: 60px;
    position: sticky;
    top: 120px;
    white-space: nowrap;
    background: $white;
    box-sizing: border-box;
    // background-color: aquamarine;
    @include tl {
        bottom: 0;
        padding-top: 0;
        line-height: initial;
        display: flex;
        justify-content: center;
        height: initial;
        width: 100%;
        align-items: center;
        top: initial;
        // top: 44px;
        position: fixed;
        left: 0;
        bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        overflow: auto;
    }
    @include ml {
        justify-content: initial;
        // position: fixed;
    }
    
    
    
}
.faqMenu{
    box-sizing: border-box;
    width: 85%;
    padding: 1rem;
    @include t {
        width: 100%;
    }
}
.stronghold{
    display: flex;
    align-items: center;
    img{
        width: 40%;
    }
    .strongholdText{
        width: 60%;
        @include t {
            width: 90%;
          }
    }
    @include t {
        flex-direction: column;
        iframe {
            width: 100%;
        }
      }
}
.faqTitle{
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 30px;
    @include t {
        display: none;
      }
}
.question{
    background-color: $primary_100;
    cursor: pointer;
}
.answer{
    background-color: $primary_30;
    display: none;
}
.faqAnchor a{
    text-decoration: none;
    color: $fontcolor_70;
    @include t {
        padding: 5px 10px;
        font-size: 14px;
    }
}
.faqCard h2{
    border-bottom: 2px solid #ccc;
    width: 40%;
}
.faqAnchor a:hover{
    color: $primary_70;
}
.faqAnchor{
    @include t {
        display: flex;
        justify-content: space-between;
        // transform: translateY(-70px);
      }
}
.hrefpoint{
    @include t {
        display: none;
    }
}