.supWrapper{
    display: flex;
    @include t {
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // border: 1px solid red;
      }
}
.faqCategory{
    width: 15%;
    height: 500px;
    line-height: 60px;
    position: sticky;
    top: 120px;
    // background-color: aquamarine;
    @include t {
        display: flex;
        // position: fixed;
        width: 85%;
        height: 100px;
        justify-content: center;
      }
}
.faqMenu{
    width: 85%;
}
.stronghold{
    display: flex;
    align-items: center;
    img{
        width: 40%;
    }
    .strongholdText{
        width: 60%;
        @include t {
            width: 90%;
            
          }
    }
    @include t {
        flex-direction: column;
        
      }
}
.faqTitle{
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 30px;
    @include t {
        display: none;
        
      }
}
.question{
    background-color: $primary_100;
    cursor: pointer;
}
.answer{
    background-color: $primary_30;
    display: none;
}
.faqAnchor a{
    text-decoration: none;
    color: $fontcolor_70;
    @include t {
        padding: 5px 10px;
        font-size: 14px;
      }
}
.faqCard h2{
    border-bottom: 2px solid #ccc;
    width: 40%;
}
.faqAnchor a:hover{
    color: $primary_70;
}
.faqAnchor{
    @include t {
        display: flex;
        justify-content: space-between;
        transform: translateY(-50px);
      }
}