//回到top鈕
$b_top_base : 50px;
//使用a標籤 id="b_top" //已經寫在footer.html裡
//還差rwd沒寫
#b_top { //back to top
  display: inline-block;
  background-color: $primary_100;
  width: $b_top_base;
  height: $b_top_base;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 120px;
  right: 120px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  &::before {
    content: "\f062";
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  &:hover {
    cursor: pointer;
    background-color: $secondary_100;
  }
  &:active {
    background-color: $secondary_30;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
    @include ml {
      width: 3rem;
      height: 3rem;
      font-size: 0.85rem;
      background-color: $primary_100;
      right: 15px;
      bottom: 30px;
    }
}
.footer_all{  
  width: 100%;
  margin-top: 8rem;
  padding-top: 4rem;
  display: flex;
  background-color: $secondary_100;
  ul{
    color: $white;
    margin-bottom: 2rem;
    li {
      margin-bottom: 2rem;
      color: $fontcolor_70;
      // font-size: 1.15rem;
      a{
        color: $fontcolor_70;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.footer_wrap{
  @include containerALL;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .footer_img{
    & img{
      width: 100%;
    }
  }
  ul{
    width: 10%;
  }
  @include tl {
    max-width: 678px;
    justify-content: space-evenly;
  }
  @include ml {
    max-width: 375px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    .footer_img {
      & img {
        display: none;
      }
    }
    & ul {
      width: 100%;
    }
  }
  .footer_img_mobile {
    width: 10rem;
    display: none;
    img {
      width: 100%;
      object-fit: cover;
      vertical-align: top;
    }
    @include ml {
      display: block;
    }
  }
}
.footer_address{
  color: $white;
  flex: 1 0 0;
  padding: 0 4rem;
  @include ml {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }
}
.footer_bottom{
  border-top: 1px solid $primary_30;
  background-color: $secondary_100;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  p{
    @include ml {
        padding: 0 1rem;
        margin-bottom: 1rem;
      }
  }
}
