/* 導覽列 */
header{
    position: sticky;
    top: 0;
    z-index: 500;
}
.main_header {
    background-color: $secondary_100;
    color: $white;

    #menu-switch {
        display: none;
    }
    /* 導覽列選單 */
    .main_nav { 
        padding: 1rem 4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        /* 導覽列logo */
        .logo{
            width: 11rem;
            height: 100%;

            img {
                width: 100%;
                vertical-align: top;
            }
        }
        /* 漢堡鍵 */ 
        .hamburger{
                width: 20px;
                height: 20px;
                position: relative;                
                span{
                    background-color: $primary_100;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
    
                    &:first-child {
                        top: 15px;
                    }
                    
                    &:nth-child(2) {
                        top: 0px;
                        bottom: 0px;
                    }
    
                    &:last-child {
                        bottom: 10px;
                    }
                }    
            }

        .main_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;

            /* main_header_button */
            .main_header_button {
                color: $primary_100;
                padding: 0 1rem;
            }
            /* 導覽列連結 */
            ul {
                display: flex;
                align-items: center;

                li{
                    a {
                        text-decoration: none;
                        display: inline-block;
                        padding: 0.5rem 0.75rem;                        
                        color: var(--gray_2);
    
                        &:hover{
                            color: var(--hover);
                        }
                    }
                }                
            }
        }
    }
}
