<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', { "title" : "Backend Designer" })
</head>

<body>
    <!-- 作品1燈箱 -->
    <div class="ps_1" id="AD_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formDOne">
                <div>
                    <div class="ps_1 pe_1">
                        <label class="p1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="" value="作品1">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 pl_1 pr_1" for="">選擇</label>
                        <select name="" id="">
                            <option value="">商品1</option>
                            <option value="">商品2</option>
                            <option value="">商品3</option>
                            <option value="">商品4</option>
                            <option value="">商品5</option>
                            <option value="">商品6</option>
                        </select>
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 pl_1 pr_1" for="">state</label>
                        <select name="" id="">
                            <option value="">A樣式</option>
                            <option value="">B樣式</option>
                            <option value="">C樣式</option>
                        </select>
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 pl_1 pr_1" for="">state</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                </div>

            </form>
            <form action="" class="formDTwo">
                <div class="ps_1 pe_1">
                    <label class="p1 pl_1 pr_1" for="">Title</label><input class="ip_normal" type="text" name="" id="">

                </div>
                <div class="ps_1 pe_1">
                    <label class="p1 pl_1 pr_1" for="" style="vertical-align:top">Text</label><textarea class="tArea" name="" id="" cols="100" rows="10"></textarea>
                </div>
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="A_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>
    
    <div class="backendD_Container">
        <!-- 左邊section -->
        <section class="beMenu">
            <div class="logo ps_1 pe_1">
                <img src="./images/nav_logo_web.webp" alt="">
            </div>
            <ul>
                <li onclick="openClass(event,'mainElm11')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink currentM"><i class="fa-solid fa-id-card pr_1"></i>
                    <p>簡介管理</p>
                </li>
                <!-- <li onclick="openClass(event,'mainElm12')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-signature pr_1"></i>
                    <p>作品管理</p>
                </li> -->
                <li onclick="openClass(event,'mainElm13')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-paperclip pr_1"></i>
                    <p>文章管理</p>
                </li>
                <a class="" href="index.html">
                    <li class="ps_1 pe_1 pl_1 pr_1 p1"><i class="fa-solid fa-right-from-bracket pr_1"></i>登出</li>
                </a>
            </ul>
        </section>
        <!-- 右邊section -->
        <div class="beCont">
            <!-- 簡介管理 -->
            <section class="mem_content" id="mainElm11">
                <div class="ps_1 pe_1 pl_1 pr_1 beNews_titleH1">
                    <h1 class="h1 font_w5 fontTitle">簡介管理</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1 sectFirst">
                    <div class="pr_1 pe_1 ps_2"></div>
                    <form class="p1 pe_2 desIntroduction" method="post" id="desIntro">
                        <div class="pl_1 pr_1 desImg">
                            <label for="upFile">
                                <img src="./images/imgUpload.jpg" id="myImage">
                            </label>
                            <input type="file" name="upFile" id="upFile">
                            <p class="p1">★請注意檔案大小</p>

                        </div>
                        <div class="pl_1 pr_1 desTxt">
                            <label class="h1 font_w5 fontcontent fontTitle" for="">Title</label><br>
                            <input class="p1 ip_normal" type="text" name="desTitle" id="dname"><br>
                            <label class="h1 font_w5 fontcontent fontTitle" for="" style="vertical-align:top">Text</label>
                            <textarea class="p1 tArea" name="desIntro" id="dtext" cols="80" rows="10"></textarea><br>
                        </div>
                    </form>
                    <div class="pr_1 pe_1 ps_2"><input class="btn_small" type="button" value="confirm" id="introBtn"></div>
                </div>
            </section>


            <!-- 文章管理 -->
            <section class="mem_content" id="mainElm13">
                <!-- 文章燈箱 -->
                <div class="ps_1" id="BD_lightBox1" style="display:none">
                    <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
                        <form class="formDOne">
                            <div>
                                <div class="ps_1 pe_1">
                                    <label class="p1 pl_1 pr_1" for="">No.1</label>
                                    <input class="ip_normal" type="text" name="" id="" value="文章1">
                                </div>
                            </div>
                        
                        </form>
                        <form class="formDTwo" method="post" id="desArticle1">
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="">Title</label><input class="ip_normal" type="text" name="art1" id="">

                            </div>
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="" style="vertical-align:top">Text</label><textarea class="tArea" name="art1_text" id="" cols="100" rows="10"></textarea>
                            </div>
                        </form>
                        <div class="lastBtn">
                            <button class="ml_1 p1 newsbtn" id="B_btnCancel1">Cancel</button>
                            <button class="ml_1 p1 newsbtn" id="desArticleBtn1">Confirm</button>
                        </div>
                    </div>
                </div>
                <div class="ps_1" id="BD_lightBox2" style="display:none">
                    <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
                        <form class="formDOne">
                            <div>
                                <div class="ps_1 pe_1">
                                    <label class="p1 pl_1 pr_1" for="">No.1</label>
                                    <input class="ip_normal" type="text" name="" id="" value="文章2">
                                </div>
                            </div>
                        
                        </form>
                        <form class="formDTwo" method="post" id="desArticle2">
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="">Title</label><input class="ip_normal" type="text" name="art2" id="">

                            </div>
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="" style="vertical-align:top">Text</label><textarea class="tArea" name="art2_text" id="" cols="100" rows="10"></textarea>
                            </div>
                        </form>
                        <div class="lastBtn">
                            <button class="ml_1 p1 newsbtn" id="B_btnCancel2">Cancel</button>
                            <button class="ml_1 p1 newsbtn" id="desArticleBtn2">Confirm</button>
                        </div>
                    </div>
                </div>
                <div class="ps_1" id="BD_lightBox3" style="display:none">
                    <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
                        <form class="formDOne">
                            <div>
                                <div class="ps_1 pe_1">
                                    <label class="p1 pl_1 pr_1" for="">No.1</label>
                                    <input class="ip_normal" type="text" name="" id="" value="文章3">
                                </div>
                            </div>
                        
                        </form>
                        <form class="formDTwo" method="post" id="desArticle3">
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="">Title</label><input class="ip_normal" type="text" name="art3" id="">

                            </div>
                            <div class="ps_1 pe_1">
                                <label class="p1 pl_1 pr_1" for="" style="vertical-align:top">Text</label><textarea class="tArea" name="art3_text" id="" cols="100" rows="10"></textarea>
                            </div>
                        </form>
                        <div class="lastBtn">
                            <button class="ml_1 p1 newsbtn" id="B_btnCancel3">Cancel</button>
                            <button class="ml_1 p1 newsbtn" id="desArticleBtn3">Confirm</button>
                        </div>
                    </div>
                </div>
                <div id="articleList">
                    <div class="ps_1 pe_1 pl_1 pr_1 beNews_titleH1">
                        <h1 class="h1 font_w5 fontTitle">文章管理</h1>
                    </div>
                    <div class="ps_1 pe_1 pl_1 pr_1">
                        <div class="pr_1 pe_1 ps_2"></div>
                        <div class="beNews_title">
                            <p class="p1 pr_1 font_w5 fontcontent">文章編號</p>
                            <p class="p1 pr_1 font_w5 fontcontent">文章名稱</p>
                            <p class="p1 pr_1 font_w5 fontcontent">樣式</p>
                            <!-- <p class="p1 pr_1 font_w5 fontcontent">狀態</p> -->
                            <p class="listGrow"></p>
                        </div>
                        <ul id="articleList">
                            <li v-for="item in articleRows" class="beNews_details">
                                <div class="backendD_text">
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">1</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">{{item.art_1}}</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{item.art1_text}}</p>
                                    <span></span>
                                    <button class="p1 newsbtn" id="Bd_Edit1">Edit</button>
                                </div>
                                <div class="backendD_text">
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">2</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">{{item.art_2}}</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{item.art2_text}}</p>
                                    <span></span>
                                    <button class="p1 newsbtn" id="Bd_Edit2">Edit</button>
                                </div>
                                <div class="backendD_text">
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">3</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor">{{item.art_3}}</p>
                                    <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{item.art3_text}}</p>
                                    <span></span>
                                    <button class="p1 newsbtn" id="Bd_Edit3">Edit</button>
                                </div>
                            </li>
                        </ul>
                        <!-- <ul>
                            <O_menu v-for="O_backendMenu in articleObject" :key="O_backendMenu.articleNo" v-bind="O_backendMenu" @edit-handler="editHandler(O_backendMenu.articleNo)">
                            </O_menu>
                        </ul> -->
                        <!-- <ul>
                            <template v-for="articleRow in articleRows">
                                <li is="O_menu" v-bind="articleRow" :key="articleRow.des_no"
                                @edit-handler="editHandler(articleRow.des_no)"></li>
                            </template>
                        </ul> -->
                        <!-- <div class="pages">
                            <p class="p1 pl_1 pr_1">1</p>
                            <p class="p1 pl_1 pr_1">2</p>
                        </div> -->
                    </div>
                </div>
            </section>
        </div>
            <script>
                let articlesVue =
                    new Vue({
                        el: '#articleList',
                        data: {
                            articleRows: [],
                            
                        },
                        created() {
                            let xhr = new XMLHttpRequest();
                           
                            xhr.onload = function() {

                                articlesVue.articleRows = JSON.parse(xhr.responseText);
                                console.log(xhr.responseText);
                               


                            }
                            xhr.open("get", "getDesignersArticle.php", true);
                            xhr.send(null);
                         },
                    })
            </script>
 <script>
                window.addEventListener("load", function() {

document.getElementById("upFile").onchange = function(e) {
    let file = e.target.files[0]; //取得所選的file物件的參考
    let reader = new FileReader();
    reader.onload = function(e) {
        document.getElementById("myImage").src = reader.result;
    }

    reader.readAsDataURL(file); //將圖檔資訊讀出以 base64的編碼方式，以便放到img標籤中
}
})
let introBtn = document.getElementById('introBtn');
introBtn.addEventListener("click", sendForm);

function sendForm() {

let xhr3 = new XMLHttpRequest();
xhr3.onload = function() {
   
    alert(xhr3.responseText);
    
}


xhr3.open("post", "designer_intro.php");

xhr3.send(new FormData(document.getElementById("desIntro")));

}


function sendForm3 (){
let xhr2 = new XMLHttpRequest();
xhr2.onload = function(){
   setInfo(xhr2.responseText);
    
}
xhr2.open("get","./getDesignerInfo.php",true)
xhr2.send(null);
}
window.addEventListener("load",sendForm3);

function setInfo (json) { 
let info = JSON.parse(json);
 let dname = document.getElementById('dname');
dname.value = info.des_name;
let dtext = document.getElementById('dtext');
dtext.value = info.des_text;
let myImage = document.getElementById('myImage');
let a = 'images'+ info.des_img_path;
console.log(a);

myImage.src =  a;
}

let desArticleBtn1 = document.getElementById('desArticleBtn1');
desArticleBtn1.addEventListener("click", sendForm2);

function sendForm2() {
    // console.log(new FormData(document.getElementById("desIntro")));
    let xhr4 = new XMLHttpRequest();
    xhr4.onload = function() {
        alert(xhr4.responseText);
        console.log(xhr4.responseText);
    }


    xhr4.open("post", "designer_article1.php");

    xhr4.send(new FormData(document.getElementById("desArticle1")));

 }

 let desArticleBtn2 = document.getElementById('desArticleBtn2');
desArticleBtn2.addEventListener("click", sendForm5);

function sendForm5() {
    // console.log(new FormData(document.getElementById("desIntro")));
    let xhr4 = new XMLHttpRequest();
    xhr4.onload = function() {
        alert(xhr4.responseText);
        console.log(xhr4.responseText);
    }


    xhr4.open("post", "designer_article2.php");

    xhr4.send(new FormData(document.getElementById("desArticle2")));

 }
 let desArticleBtn3 = document.getElementById('desArticleBtn3');
desArticleBtn3.addEventListener("click", sendForm6);

function sendForm6() {
    // console.log(new FormData(document.getElementById("desIntro")));
    let xhr4 = new XMLHttpRequest();
    xhr4.onload = function() {
        alert(xhr4.responseText);
        console.log(xhr4.responseText);
    }


    xhr4.open("post", "designer_article3.php");

    xhr4.send(new FormData(document.getElementById("desArticle3")));

 }
                
                
            
           
</script>

        

       
        <script src="./js/backend.js"></script>
        <script src="./js/backendDesignerLightBox.js"></script>
        <!-- script -->
        <!-- @@include('layout/script.html') -->
</body>

</html>