<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('layout/meta.html', { "title" : "Backend" })
</head>
<body>
    <!-- 會員燈箱 -->
    <div class="ps_1" id="N_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formOne">
                <div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">照片</label>
                        <input class="ip_normal" type="file" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">姓名</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">電郵</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">密碼</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">手機</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">生日</label>
                        <input class="ip_normal" type="date" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">地址</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">State</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                </div>
                
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="N_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>
    <!-- 商品燈箱 -->
    <div class="ps_1" id="A_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formOne">
                <div style="width:50%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Category</label>
                        <select name="" id="">
                            <option value="">Floor Lamps</option>
                            <option value="">Pendant</option>
                            <option value="">Home Accent</option>
                            <option value="">Table Lamps</option>
                            <option value="">Wall Lamps</option>
                            <option value="">Chandaliers</option>
                        </select>
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Designer</label>
                        <select name="" id="">
                            <option value="">設計師1</option>
                            <option value="">設計師2</option>
                            <option value="">設計師3</option>
                        </select>
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Price</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">State</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                </div>
                <div style="width:50%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Product Name</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="" style="vertical-align:top">Specification</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="" style="vertical-align:top">Introduce</label>
                        <textarea class="tArea" name="" id="" cols="50" rows="10"></textarea>
                    </div>
                </div>
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="A_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>
    <!-- 優惠活動燈箱 -->
    <div class="ps_1" id="B_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formOne">
                <div style="width:30%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Start_Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">End_Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Image</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">State</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                </div>
                <div style="width:70%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Title</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="" style="vertical-align:top">Text</label>
                        <textarea class="tArea" name="" id="" cols="100" rows="10"></textarea>
                    </div>
                </div>
            </form>
            <form action="" class="formTwo">
                <div class="ps_1 me_1 backend_titleH1">
                    <p class="h1">優惠商品</p>
                </div>
                <div class="ps_1">
                    <label class="p1 pl_1 pr_1" for="">Product_No</label><input class="ip_small ip_width" type="text" name="" id="">
                    <label class="p1 pl_1 pr_1" for="">Price</label><input class="ip_small ip_width" type="text" name="" id="">
                    <label class="p1 pl_1 pr_1" for="">Promotions_price</label><input class="ip_small ip_width" type="text" name="" id="">
                    <button class="ml_1 mr_1 newsbtn">✚ New</button>
                    
                </div>
                <ul>
                    <li class="ps_1">
                        <label class="p1 pl_1 pr_1" for="">Product_No</label>
                        <p class="p1">0000001</p>
                        <label class="p1 pl_1 pr_1" for="">Price</label>
                        <p class="p1">$ 1000</p>
                        <label class="p1 pl_1 pr_1" for="">Promotions_price</label>
                        <p class="p1">$ 900</p>
                        <button class="ml_1 mr_1 newsbtn">─ Delete</button>
                    </li>
                    <li class="ps_1">
                        <label class="p1 pl_1 pr_1" for="">Product_No</label>
                        <p class="p1">0000002</p>
                        <label class="p1 pl_1 pr_1" for="">Price</label>
                        <p class="p1">$ 1500</p>
                        <label class="p1 pl_1 pr_1" for="">Promotions_price</label>
                        <p class="p1">$ 1400</p>
                        <button class="ml_1 mr_1 newsbtn">─ Delete</button>
                    </li>
                </ul>
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="B_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>
    <!-- 最新消息燈箱 -->
    <div class="ps_1" id="C_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formOne">
                <div style="width:30%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Start Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">End Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Image</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">State</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                </div>
                <div style="width:70%">
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Title</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="" style="vertical-align:top">Text</label>
                        <textarea class="tArea" name="" id="" cols="100" rows="10"></textarea>
                    </div>
                </div>
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="C_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>
    <!-- 設計師燈箱 -->
    <div class="ps_1" id="D_lightBox" style="display:none">
        <div class="ps_2 pe_2 pl_2 pr_2 lightBox_list">
            <form action="" class="formOne">
                <div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">No.</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">name</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">State</label>
                        <select name="" id="">
                            <option value="">上架</option>
                            <option value="">下架</option>
                        </select>
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Account</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                    <div class="ps_1 pe_1">
                        <label class="p1 ps_1 pe_1 pl_1 pr_1" for="">Password</label>
                        <input class="ip_normal" type="text" name="" id="">
                    </div>
                </div>
            </form>
            <div class="lastBtn">
                <button class="ml_1 p1 newsbtn" id="D_btnCancel">Cancel</button>
                <button class="ml_1 p1 newsbtn">Confirm</button>
            </div>
        </div>
    </div>

    <div class="backendContainer">
        <!-- 左邊section -->
        <section class="beMenu">
            <div class="logo ps_1 pe_1">
                <img src="./images/nav_logo_web.webp" alt="">
            </div>
            <ul>
                <li onclick="openClass(event,'mainElm1')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink currentM"><i class="fa-solid fa-user pr_1"></i><p>會員管理</p></li>
                <li onclick="openClass(event,'mainElm2')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-lightbulb pr_1"></i><p>商品管理</p></li>
                <li onclick="openClass(event,'mainElm3')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-list-ul pr_1"></i><p>訂單管理</p></li>
                <li onclick="openClass(event,'mainElm4')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-tag pr_1"></i><p>優惠活動管理</p></li>
                <li onclick="openClass(event,'mainElm5')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-flag pr_1"></i></i><p>最新消息管理</p></li>
                <li onclick="openClass(event,'mainElm6')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-images pr_1"></i><p>輪播管理</p></li>
                <li onclick="openClass(event,'mainElm7')" class="ps_1 pe_1 pl_1 pr_1 p1 tablink"><i class="fa-solid fa-compass-drafting pr_1"></i><p>後台管理員</p></li>
                <a class="" href="index.html">
                    <li class="ps_1 pe_1 pl_1 pr_1 p1"><i class="fa-solid fa-right-from-bracket pr_1"></i><p>登出</p></li>
                </a>
            </ul>
        </section>
        <!-- 右邊section -->
        <div class="beCont">
            <!-- 會員管理 -->
            <section class="mem_content" id="mainElm1">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Member Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 ps_2"></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">會員編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent">會員姓名</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">會員帳號(信箱)</p>
                        <p class="p1 pr_1 font_w5 fontcontent">會員生日</p>
                        <p class="p1 pr_1 font_w5 fontcontent">會員電話</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">會員地址</p>
                        <p class="p1 pr_1 font_w5 fontcontent">會員狀態</p>
                        <p></p>
                    </div>
                    <!-- <ul id="membList">
                        <N_menu v-for="N_backendMenu in membObject" v-bind="N_backendMenu">
                        </N_menu>
                    </ul> -->
                    <ul id="membList">
                        <template v-for="membRow in membRows">
                            <li is="N_menu" v-bind="membRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let membRow = Vue.component('N_menu', {
                    props: ['member_no', 'member_name', 'member_mail', 'member_birthday','member_tel','member_address','member_State'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{member_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{member_name}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{member_mail}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{member_birthday}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{member_tel}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{member_address}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{member_State}}</p>
                                <button class="p1 newsbtn">Edit</button>
                            </div>
                        </li>
                    `,
                });
                let membersVue =
                new Vue({
                    el: '#membList',
                    data: {
                        membRows:[],
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            membersVue.membRows = JSON.parse(xhr.responseText);
                            
                        }
                        xhr.open("get", "getMembers.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
            <!-- 商品管理 -->
            <section class="mem_content" id="mainElm2">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Product Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 newListBtn"><button class="p1 newsbtn" id="A_New">✚ NEW</button></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">商品編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent">商品名稱</p>
                        <p class="p1 pr_1 font_w5 fontcontent">商品類別</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">商品設計師</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">商品規格</p>
                        <p class="p1 pr_1 font_w5 fontcontent">商品單價</p>
                        <p class="p1 pr_1 font_w5 fontcontent">商品狀態</p>
                        <p class="p1 pr_1 font_w5 fontcontent">商品庫存</p>
                        <p></p>
                    </div>
                    <ul id="productList">
                        <template v-for="prodRow in prodRows">
                            <li is="A_menu" v-bind="prodRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let prodRow = Vue.component('A_menu', {
                    props: ['product_no', 'name', 'category_no', 'des_no','specification','price','on_market','in_stock'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{product_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{name}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{category_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{des_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{specification}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{price}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{on_market}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{in_stock}}</p>
                                <button class="p1 newsbtn" id="A_Edit">Edit</button>
                            </div>
                        </li>
                    `,
                })
                let productsVue =
                new Vue({
                    el: '#productList',
                    data: {
                        prodRows:[],
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            productsVue.prodRows = JSON.parse(xhr.responseText);
                        }
                        xhr.open("get", "getProducts.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
            <!-- 待討論-訂單管理 -->
            <section class="mem_content" id="mainElm3">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Order Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 ps_2"></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">訂單編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent">會員編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">訂單日期時間</p>
                        <p class="p1 pr_1 font_w5 fontcontent">訂單總額</p>
                        <p class="p1 pr_1 font_w5 fontcontent">訂單狀態</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">訂單備註</p>
                        <p class=""></p>
                    </div>
                    <ul id="orderList">
                        <O_menu v-for="O_backendMenu in orderObject" v-bind="O_backendMenu">
                        </O_menu>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let O_backendMenu = Vue.component('O_menu', {
                    props: ['orderNo','orderM_NO', 'orderDate','orderPrice','orderState','orderRemark'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{orderNo}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{orderM_NO}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{orderDate}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{orderPrice}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{orderState}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{orderRemark}}</p>
                                <button class="p1 newsbtn">Details</button>
                            </div>
                        </li>
                    `,
                })
                new Vue({
                    el: '#orderList',
                    data: {
                        orderObject: [
                            {
                                orderNo: `1`,
                                orderM_NO: `0000001`,
                                orderDate: `2022/06/02 , AM 10:00`,
                                orderPrice: `$ 5000`,
                                orderState:`待處理`,
                                orderRemark: `出貨請電聯`,
                            },
                            {
                                orderNo: `2`,
                                orderM_NO: `0000005`,
                                orderDate: `2022/06/01 , PM 02:00`,
                                orderPrice: `$ 8000`,
                                orderState:`已出貨`,
                                orderRemark: ``,
                            },
                            {
                                orderNo: `3`,
                                orderM_NO: ``,
                                orderDate: ``,
                                orderPrice: ``,
                                orderState:``,
                                orderRemark: ``,
                            },
                        ]
                    }
                })
            </script>
            <!-- 優惠活動 -->
            <section class="mem_content" id="mainElm4">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Promotions Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 newListBtn"><button class="p1 newsbtn" id="B_New">✚ NEW</button></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">活動編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">活動名稱</p>
                        <p class="p1 pr_1 font_w5 fontcontent">活動開始日期</p>
                        <p class="p1 pr_1 font_w5 fontcontent">活動結束日期</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">圖片路徑</p>
                        <p class="p1 pr_1 font_w5 fontcontent">狀態</p>
                        <p></p>
                    </div>
                    <ul id="promList">
                        <template v-for="promoRow in promoRows">
                            <li is="B_menu" v-bind="promoRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let promoRow = Vue.component('B_menu', {
                    props: ['promotions_no', 'promotions_name', 'promotions_startDate', 'promotions_endDate','promotionsImage_path','promotions_state'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{promotions_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{promotions_name}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{promotions_startDate}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{promotions_endDate}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{promotionsImage_path}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{promotions_state}}</p>
                                <button class="p1 newsbtn" id="B_Edit">Edit</button>
                            </div>
                        </li>
                    `,
                });
                let promotionsVue =
                new Vue({
                    el: '#promList',
                    data: {
                        promoRows:[],
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            promotionsVue.promoRows = JSON.parse(xhr.responseText);
                            
                        }
                        xhr.open("get", "getPromotions.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
            <!-- 最新消息管理 -->
            <section class="mem_content" id="mainElm5">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">News Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 newListBtn"><button class="p1 newsbtn" id="C_New">✚ NEW</button></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">消息編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">消息名稱</p>
                        <p class="p1 pr_1 font_w5 fontcontent">消息發佈日期</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">消息內文</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">消息圖片路徑</p>
                        <p class="p1 pr_1 font_w5 fontcontent">狀態</p>
                        <p></p>
                    </div>
                    <ul id="newsList">
                        <template v-for="newsRow in newsRows">
                            <li is="C_menu" v-bind="newsRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let newsRow = Vue.component('C_menu', {
                    props: ['news_no', 'news_title', 'news_publish', 'news_text','newsImage_path','news_state'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{news_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{news_title}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{news_publish}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{news_text}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{newsImage_path}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{news_state}}</p>
                                <button class="p1 newsbtn" id="C_Edit">Edit</button>
                            </div>
                        </li>
                    `,
                });
                let newsVue = 
                new Vue({
                    el: '#newsList',
                    data: {
                        newsRows: []
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            newsVue.newsRows = JSON.parse(xhr.responseText);
                            
                        }
                        xhr.open("get", "getNews.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
            <!-- 輪播管理 -->
            <section class="mem_content" id="mainElm6">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Carousel</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 ps_2"></div>
                    <div class="pr_1 backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent">名稱</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">圖片路徑</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">圖片預覽</p>
                        <p class=""></p>
                    </div>
                    <!-- <ul id="carouselList">
                        <P_menu v-for="P_backendMenu in carouselObject" v-bind="P_backendMenu">
                        </P_menu>
                    </ul> -->
                    <ul id="carouselList">
                        <template v-for="carouselRow in carouselRows">
                            <li is="P_menu" v-bind="carouselRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let carouselRow = Vue.component('P_menu', {
                    props: ['carousel_no', 'carousel_name', 'carousel_path'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text carouselPlace">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{carousel_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{carousel_name}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{carousel_path}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow"><img :src="'images//'+ carousel_path"></img></p>
                                <p><button class="p1 newsbtn">Upload</button></p>
                                
                            </div>
                        </li>
                    `,
                });
                let carouselVue =
                new Vue({
                    el: '#carouselList',
                    data: {
                        carouselRows: [],
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            carouselVue.carouselRows = JSON.parse(xhr.responseText);
                            
                        }
                        xhr.open("get", "getCarousels.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
            <!-- 後台管理員 -->
            <section class="mem_content" id="mainElm7">
                <div class="ps_1 pe_1 pl_1 pr_1 backend_titleH1">
                    <h1 class="h1 font_w5 fontTitle">Manage</h1>
                </div>
                <div class="ps_1 pe_1 pl_1 pr_1">
                    <div class="pr_1 pe_1 newListBtn"><button class="p1 newsbtn" id="D_New">✚ NEW</button></div>
                    <div class="backend_title">
                        <p class="p1 pr_1 font_w5 fontcontent">人員編號</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">人員姓名</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">人員帳號</p>
                        <p class="p1 pr_1 font_w5 fontcontent listGrow">人員密碼</p>
                        <p class="p1 pr_1 font_w5 fontcontent">人員類別</p>
                        <p class="p1 pr_1 font_w5 fontcontent">人員狀態</p>
                        <p></p>
                    </div>
                    <ul id="managersList">
                        <template v-for="managersRow in managersRows">
                            <li is="D_menu" v-bind="managersRow"></li>
                        </template>
                    </ul>
                    <!-- <div class="pages">
                        <p class="p1 pl_1 pr_1">1</p>
                        <p class="p1 pl_1 pr_1">2</p>
                    </div> -->
                </div>
            </section>
            <script>
                let managersRow = Vue.component('D_menu', {
                    props: ['manager_no', 'manager_name', 'account', 'password','role','state'],
                    template: `
                        <li class="backend_details">
                            <div class="backend_text">
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{manager_no}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{manager_name}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{account}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor listGrow">{{password}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{role}}</p>
                                <p class="p1 pr_1 font_w5 fontcontent fontColor">{{state}}</p>
                                <button class="p1 newsbtn" id="D_Edit">Edit</button>
                            </div>
                        </li>
                    `,
                });
                let managersVue =
                new Vue({
                    el: '#managersList',
                    data: {
                        managersRows: [],
                    },
                    created(){
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            managersVue.managersRows = JSON.parse(xhr.responseText);
                            
                        }
                        xhr.open("get", "getManagers.php",true);
                        xhr.send(null);	
                    },
                })
            </script>
        </div>
    </div>

   
    <script src="./js/backend.js"></script>
    <script src="./js/backendLightBox.js"></script>
    <!-- script -->
    @@include('layout/script.html')
</body>

</html>