<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', { "title" : "Light Up For You" })
</head>

<body>
    <!-- header -->
    @@include('layout/header.html')
    <!-- header end -->
    <!-- 第一屏遮罩 + 首頁輪播 -->
    <input type="button" value="On" class="turn_on" />
    <section class="first">
        <div class="containerALL">
            <div class="wrapper">
                <h1 class="wrapper_title s3 font_i">Light Up For You</h1>
                <h2 class="wrapper_text h2">
                    We firmly believe that 'Light' can bring more beautiful value to life
                    <br /> which is our original intention.
                </h2>
                <div class="light"></div>
            </div>
        </div>
        <!-- 首頁輪播 -->
        <section id="index_carousel_app" class="index_carousel">
            <div class="container me_8">
                <div id="index_carousel" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    <carousel-rows v-for="(carousel , index) in carouselImg" :key="carousel.id" :carousel="carousel"></carousel-rows>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
    </section>
    <!-- 專案實例 -->
    <section class="index_project">
        <div class="index_project_wrap">
            <div class="containerALL">
                <div class="index_project_title">
                    <h2 class="s2 me_4 para1">Our Lights</h2>
                    <h2 class="s3 me_4 para2">Always</h2>
                    <h2 class="s1 font_i fontdeco_w9 me_4 para3">LIGHT</h2>
                    <h2 class="s2 font_i me_4 para4">your LIFE</h2>
                </div>
            </div>
            <div id="project_wrap" class="project_wrap">
                <div class="project_card project_card1">
                    <img src="./images/projectMain_pic5.webp" alt="The Renaissance" />
                    <div class="content ms_2 mr_2 me_2 ml_2">
                        <h2 class="h1 me_1">The Renaissance</h2>
                        <h3 class="h4 me_1">
                            It is recommended that you work through Getting started with the web before attempting this
                            topic. However, this
                            isn't absolutely necessary; much of what is covered in the HTML basics article is also
                            covered in our
                            Introduction to HTML module, albeit in a lot more detail.
                        </h3>
                        <p class="h5 me_4">SIMON SCHMITZ</p>
                        <a href="projectInner1.html" class="btn_normal"> more </a>
                    </div>
                </div>
                <div class="project_card project_card2">
                    <img src="./images/projectMain_pic4.webp" alt="INDUSTRIAL REVOLUTION" />
                    <div class="content ms_2 mr_2 me_2 ml_2">
                        <h2 class="h1 me_1">INDUSTRIAL REVOLUTION</h2>
                        <h3 class="h4 me_1">
                            The Industrial Revolution was the transition to new manufacturing processes in Great
                            Britain, continental Europe, and
                            the United States, in the period from about 1760 to sometime between 1820 and 1840.
                        </h3>
                        <p class="h5 me_4">BERNARD SCHOTTLANDER</p>
                        <a href="projectInner2.html" class="btn_normal"> more </a>
                    </div>
                </div>
                <div class="project_card project_card3">
                    <img src="./images/projectMain_pic6.webp" alt="The Dragon" />
                    <div class="content ms_2 mr_2 me_2 ml_2">
                        <h2 class="h1 me_1">The Dragon</h2>
                        <h3 class="h4 me_1">
                            The warm and soft light caressed the earth, and the dexterous light feathers flew, carrying
                            a fresh and flawless
                            atmosphere.

                            Slowly glowing in the faint space,

                            It seems to express affectionately with pure sincerity and connotation, and silently becomes
                            a force to soothe people's
                            hearts.
                        </h3>
                        <p class="h5 me_4">ALBIN GRAS</p>
                        <a href="projectInner3.html" class="btn_normal"> more </a>
                    </div>
                </div>
            </div>

            <div class="index_project_deco_image">
                <img src="./images/index_project_deco_image_01.webp" alt="" />
            </div>
        </div>
        <div class="index_project_deco_image_fullview">
            <img src="./images/index_project_deco_image_02.webp" alt="" />
        </div>
    </section>
    <!-- 商品 -->
    <section id="product" class="productMain">
        <section class="containerALL me_8">
            <!-- 商品分類 -->
            <div id="product_category" class="product_category ms_4 me_4">
                <product-category v-for='(category, index) in categoryObject' :key="category.id" v-bind="category"
                    :focus-id="focusId" @filtercategory="changeFocusId($event)">
                </product-category>
            </div>


            <!-- 商品瀑布流 -->
            <div id="grid_masonry">
                <transition-group class="grid" tag="div" name="gender-filter" @enter="resetGrid"
                    @after-leave="resetGrid">
                    <div class="grid-sizer" key="grid-sizer"></div>
                    <div class="gutter-sizer" key="gutter-sizer"></div>
                    <p key="noPosts" v-if="filterList.length <= 0" class="no-posts">no data</p>
                    <product-commodity v-for="(commodity, index) in filterList" :key="index" v-bind="commodity">
                    </product-commodity>
                </transition-group>
            </div>
            <!-- <div id="product_category" class="product_category ms_4 me_4">
                <product-category v-for='(category, index) in categoryObject' :key="category.id" v-bind="category">
                </product-category>
            </div> -->
            <!-- <div id="grid_masonry">
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <product-commodity v-for="(commodity, index) in commodityObject" :key="commodity.id" v-bind="commodity"></product-commodity>
                </div>
            </div> -->
        </section>
    </section>
    <!-- 情境模擬 -->
    <section class="simulation_luminosity index_luminosity me_8" id="simulation_luminosity" :style="{ backdropFilter: 'contrast(60%)' }">
    
        <!-- 投射燈光幕 -->
        <div class="simulation_lamp">
            <img src="./images/simulation_lamp_v2.webp" alt="">
        </div>
    
        <!-- 投射燈光 -->
        <div id="entrance_light" class="entrance_homepage" style="display: block;"></div>
    
        <!-- 燈光 -->
        <div class="wall-light-shadow" :style="hueOutput"></div>
    
        <!-- 遮色片 -->
        <div class="front-mask" :style="opacityOutput"></div>
    
        <!-- 控制面板 -->
        <form class="simulation_form" oninput="simulation_luminosity.setAttribute('data-light', slider.value)">
    
            <!-- 透明度 -->
            <div class="range me_2">
                <h2 class="title">Light : {{opacity}}</h2>
                <div class="rangebox">
                    <!-- <label class="sliderValue">
                                        <span class="indicator" :style="{ left : (opacity/1.19) + '%' }">{{opacity}}</span> -->
                    <label class="field">
                        <div class="value left">0</div>
                        <input type="range" id="slider" value="0" min="0" max="100" steps="1" v-model="opacity">
                        <div class="value right">100</div>
                    </label>
                </div>
            </div>
    
            <!-- 色相 -->
            <div class="range me_2">
                <h2 class="title">Hue</h2>
                <div class="rangebox">
                    <label class="field">
                        <div class="value left">Orange</div>
                        <input type="range" v-model="hue" min="40" max="180" steps="1">
                        <div class="value right">Blue</div>
                    </label>
                </div>
            </div>
    
            <!-- 飽和度 -->
            <div class="range me_2">
                <h2 class="title">Saturation : {{saturation}}</h2>
                <div class="rangebox">
                    <!-- <label class="sliderValue">
                            <span class="indicator" :style="{ left : (saturation/1.19) + '%' }">{{saturation}}</span>
                        </label> -->
                    <label class="field">
                        <div class="value left">0</div>
                        <input type="range" v-model="saturation" min="0" max="100" steps="1">
                        <div class="value right">100</div>
                    </label>
                </div>
            </div>
    
        </form>
    </section>
    <!-- 最新消息 -->
    <section class="index_news">
        <div class="containerALL">
            <div class="card">
                <div id="news_photo">
                    <news-photo v-for="(newsphoto, index) in newsphotoObject" :key="newsphoto.id" v-bind="newsphoto">
                    </news-photo>
                </div>
                <script>
                    let newsphoto = Vue.component("news-photo", {
                        props: [
                            "newsImage",
                            "newsName",
                            "newsTitle",
                            "newsContent",
                            "newsInfoLink",
                        ],
                        template: `
                <div class="news_photo me_8">
                    <div class='photo'>
                        <img :src="newsImage" :alt="newsName">
                    </div>
                    <div class="wrap">
                        <div class="content">
                            <h2 class="h2">{{newsTitle}}</h2>
                            <p class="h4 me_2">{{newsContent}}</p>
                            <a :href="newsInfoLink" class="btn_normal h4 me_2">more</a>
                        </div>
                    </div>
                </div>
            `,
                    });
                    new Vue({
                        el: "#news_photo",
                        data: {
                            newsphotoObject: [{
                                newsImage: `./images/news_01_lamp_maintenance_guide.webp`,
                                newsName: `lamp_maintenance_guide`,
                                newsTitle: `lamp_maintenance_guide`,
                                newsContent: `In fact, as long as a simple maintenance program is carried out on a regular basis for the material of each lamp, the service life of the lamp can be extended and more time spent with family members.`,
                                newsInfoLink: `news.html`,
                            }, {
                                newsImage: `./images/news_02_tips_for_choosing_lamps_for_children_at_home.webp`,
                                newsName: `Tips_for_choosing_lamps_for_children_at_home`,
                                newsTitle: `Tips_for_choosing_lamps_for_children_at_home`,
                                newsContent: `Today, let's talk about the "Notes on Lamps for Children", so that everyone can confirm according to the description and help families with small children find a lamp that is suitable for accompanying the whole family.`,
                                newsInfoLink: `news.html`,
                            }, {
                                newsImage: `./images/news_03_friendly_home_lighting_environment_guide.webp`,
                                newsName: `Friendly_home_lighting_environment_guide`,
                                newsTitle: `Friendly_home_lighting_environment_guide`,
                                newsContent: `With age, vision naturally gradually weakens. After about 50 years old, people will gradually become less sensitive to color contrast, take longer to respond to light in the dark room, or easily feel soreness due to excessive intraocular pressure, and experience imagery.`,
                                newsInfoLink: `news.html`,
                            },],
                        },
                    });
                </script>
            </div>
        </div>
    </section>
    <!-- 關於我們 -->
    <section class="index_aboutus">
        <div class="containerALL">
            <div class="card">
                <div class="photo">
                    <img src="./images/index_about_us.webp" alt="about lufy" />
                </div>
                <div class="wrap">
                    <div class="content">
                        <h2 class="h1 ms_2 me_1">About Light Up For You</h2>
                        <p class="h4 me_2">
                            Starting from six sketches in 1991, the founder Meiric sowed a design seed, carefully
                            irrigated with delicate thinking and rigorous attitude, rubbed light and shadow into brush
                            and ink, and outlined the lighting imagination in his heart.<br /> We firmly believe that
                            "light" can bring more beautiful value to life, which is our original intention.
                        </p>
                        <a href="./aboutUs.html" class="btn h4 me_2">more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer  -->
    @@include('layout/footer.html')

    <!-- 燈箱 -->
    <script src="./js/homePage_lightbox.js"></script>
    <!-- 首頁輪播 -->
    <script src="./js/homePage_carousel.js"></script>
    <!-- 專案實例 -->
    <script src="./js/homePage_project.js"></script>
    <!-- 情境模擬 -->
    <script src="./js/simulationVue.js"></script>
    <!-- 輪播套件script -->
    <script src="./js/swiper-bundle.min.js"></script>
    <!-- 商品頁瀑布流 -->
    <script type="module" src="./js/productMain.js"></script>

    <!-- script -->
    @@include('layout/script.html')
</body>

</html>