<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "首頁專題"
    })
</head>
<body>
    <!-- header -->
    @@include('layout/header.html')
    <!-- header end -->

    <!-- 首頁輪播 -->
    <section class="index_carousel">
        <div class="container me_8">
            <div class="swiper mySwiper" id="index_carousel">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./images/index_carousel_Banner_01.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/index_carousel_Banner_02.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/index_carousel_Banner_03.webp" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- 專案實例 -->
    <section class="index_project">
        <div class="index_project_wrap">
            <div class="containerALL">
                <div class="index_title">
                    <h2 class="s2 me_4">Our Lights</h2>
                    <h2 class="s3 me_4">Always</h2>
                    <h2 class="s1 font_i fontdeco_w9 me_4">LIGHT</h2>
                    <h2 class="s2 font_i me_4">your LIFE</h2>
                </div>
                
            </div>
            <div id="app" class="project_wrap">
                <project-card v-for="project in projectObject" v-bind="project" />
            </div>
            <script>
                Vue.component('project-card', {
                    props: ['projectImg', 'projectName', 'discription', 'designerName', 'projectInfoLink'],
                    template: `
                                <div class="project_card">
                                    <img :src="projectImg" :alt="projectName">
                                    <div class="content ms_1 mr_1 me_1 ml_1">
                                        <h2 class="h1 me_1">{{projectName}}</h2>
                                        <h3 class="h4 me_1">{{discription}}</h3>
                                        <p class="h5 me_4">{{designerName}}</p>
                                        <a :href="projectInfoLink" class='btn_normal'> more </a>
                                    </div>
                                </div>
                                `,
                })
                new Vue({   // Vue instance
                    el: '#app',
                    data: {
                        projectObject: [
                            {
                                projectImg: `./images/aboutus.lamp1.png`,
                                projectName: `Project Name1`,
                                discription: `Project content. This project is design by Rick Chen with the laxury lamp#1. The laxury lamp#1 is a type of  legence lamp. Everyone love it.`,
                                designerName: `Rick Chen`,
                                projectInfoLink: 'projectMain.html',
                            },
                            {
                                projectImg: `./images/aboutus.lamp2.png`,
                                projectName: `Project Name2`,
                                discription: `Project content. This project is design by Rick Chen with the laxury lamp#2. The laxury lamp#2 is a type of  legence lamp. Everyone love it.`,
                                designerName: `Rick Chen`,
                                projectInfoLink: 'projectMain.html',
                            },
                            {
                                projectImg: `./images/aboutus.lamp3.png`,
                                projectName: `Project Name3`,
                                discription: `Project content. This project is design by Rick Chen with the laxury lamp#3. The laxury lamp#3 is a type of  legence lamp. Everyone love it.`,
                                designerName: `Rick Chen`,
                                projectInfoLink: 'projectMain.html',
                            },
                        ],
                    },     //變數放這裡!            
                    methods: {},  // 函數大部分放這裡!            
                    computed: {},
                    components: {},
                });
            </script>
            <div class="index_project_deco_image">
                <img src="./images/index_project_deco_image_01.webp" alt="">
            </div>
        </div>
        <div class="index_project_deco_image_fullview">
            <img src="./images/index_project_deco_image_02.webp" alt="">
        </div>
    </section>
    <!-- 商品 -->
    <section class="index_product">
        <section class="containerALL me_8">
            <div class="product_category me_3" id="product_category">
                <div v-for='category in categorys' :class="isSelected">
                    <a v-bind:href="category.href">
                        <img :src="category.image" :alt="category.name">
                        <p class="p1">{{category.name}}</p>
                    </a>
                </div>
            </div>
            <script>
                let product_category = new Vue({
                    el: '#product_category',
                    data: {
                        isSelected: 'category',
                        categorys:[
                            {
                                href: './productpages/productFloorLamps.html',
                                name: 'Floor Lamps',
                                image: './images/product_category_floor_lamps.webp',
                            },
                            {
                                href: './productpages/productPendant.html',
                                name: 'Pendant',
                                image: './images/product_category_pendant.webp'
                            },
                            {
                                href: './productpages/productHomeAccent.html',
                                name: 'Home Accent',
                                image: './images/product_category_home_accent.webp'
                            },
                            {
                                href: './productpages/productTableLamps.html',
                                name: 'Table Lamps',
                                image: './images/product_category_table_lamps.webp'
                            },
                            {
                                href: './productpages/productWallLamps.html',
                                name: 'Wall Lamps',
                                image: './images/product_category_wall_lamps.webp'
                            },
                            {
                                href: './productpages/productChandaliers.html',
                                name: 'Chandaliers',
                                image: './images/product_category_chandaliers.webp'
                            },
                        ],
                    },
                });
            </script>
            <div class="product_grid">
                <div class="item">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item item--large">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item item--medium">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item item--large">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item item--full">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item item--medium">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="item__details">
                        【商品名稱】
                        <span class="material-icons">
                            favorite
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="test">
                display:grid;<br>
                grid-gap:30px;<br>
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));//自動填滿整個容器。<br>
                grid-auto-rows: 240px; //溢出的項目，高要 240px<br>
                grid-auto-flow: row dense; //🟡dense瀑布流
            </div> -->            
        </section>
    </section>
    <!-- 燈光調亮度 -->
    <section class="index_luminosity"></section>
    <!-- 最新消息 -->
    <section class="index_news"></section>
    <!-- 關於我們 -->
    <section class="index_aboutus">
        <div class="containerALL">
            <div class="card">
                <div class="photo"><img src="./images/index_about_us.webp" alt="about lufy"></div>
                <div class="wrap">
                    <div class="content">
                        <h2 class="h1 ms_2 me_1">About Light Up For You</h2>
                        <p class="h4 me_2">Starting from six sketches in 1991, the founder Meiric sowed a design seed, carefully irrigated with delicate thinking
                        and rigorous attitude, rubbed light and shadow into brush and ink, and outlined the lighting imagination in his heart.
                        We firmly believe that "light" can bring more beautiful value to life, which is our original intention.<br><br>
                        With the addition of more creative workers, the seeds have turned into fertile soil, and the branches and leaves of the
                        sprouts are intertwined, creating more possibilities for each other. Lights, in addition to illuminating different daily
                        scenes, play a role in drawing people and the field to live together. In the daily interaction with people and space, we
                        share the light and shadow poems created for the ideal life.</p>
                        <a href="./aboutUs.html" class="btn h4 me_2">more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 燈泡爆炸圖 -->
    <section class="index_product"></section>
    <!-- footer  -->
        @@include('layout/footer.html')

    <!-- script -->
        @@include('layout/script.html')
</body>
</html>
<!-- vue2
        <div id="app"></div>
        <script>
            new Vue({
                    el: '#app',
                    data: {     //變數放這裡!
                        
                    },
                });       
        </script>-->