<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    @@include('layout/meta.html', { "title" : "member" })
  </head>

  <body>
    @@include('layout/header.html')
    <div class="member_container">
      <div class="member_sidemenu">
        <h1 class="h1 font_w7">Member Center</h1>
        <ul class="h3 ul">
          <li>Your Profiles</li>
          <li>Your Orders</li>
          <li>Your Wishlist</li>
          <li>Redeem List</li>
          <li>Change Password</li>
          <li>Log out</li>
        </ul>
      </div>
      <div class="memberform_content ms_4 me_4">
        <div id="member_welcome">
          <h1 class="s3">Welcome!</h1>
        </div>

        <div id="member_center_profiles" class="memberform member_hide">
          <h1 class="s3 fontcontent me_1 ml_4">Your Profiles</h1>
          <form action="" class="membercenter_form">
            <div class="memberform_label">
              <label for="memName">Name : </label>
              <label for="email">Email : </label>
              <label for="memBD">BirthDay : </label>
              <label for="memPhone">Phone : </label>
              <label for="Address">Address : </label>
            </div>
            <div class="memberform_input">
              <input
                type="text"
                name="memName"
                id="memName"
                class="ip_normal"
              /><br />
              <input
                type="email"
                name="email"
                id="email"
                class="ip_normal"
              /><br />
              <input
                type="date"
                name="memBD"
                id="memBD"
                class="ip_normal"
              /><br />
              <input
                type="text"
                name="memPhone"
                id="memPhone"
                class="ip_normal"
              /><br />
              <input
                type="text"
                name="Address"
                id="Address"
                class="ip_normal"
              /><br />
              <input type="submit" class="ip_sub" value="Save Change" />
              <input type="reset" class="ip_reset" value="Reset" />
            </div>
            <div class="member_photo">
              <div>
                <img src="./images/designer6.jpg" alt="" />
                <label for="memphoto" class="h1 font_w7">Upload</label>
              </div>
              <input type="file" name="memphoto" id="memphoto" />
            </div>
          </form>
        </div>
        <!-- 訂單列表 -->
        <div id="member_center_orders" class="memberform member_hide">
          <h1 class="s3 fontcontent me_4 ml_4">Your Orders</h1>
          <table class="memtable h1">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <orders
                v-for="ordersTemplate in member_orders_obj"
                v-bind="ordersTemplate"
              >
              </orders>
              <tr>
                <td>3</td>
                <td>12/2/22</td>
                <td>await</td>
                <td>464140346</td>
              </tr>
              <tr>
                <td>4</td>
                <td>12/2/22</td>
                <td>await</td>
                <td>464140346</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12/2/22</td>
                <td>await</td>
                <td>464140346</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 私藏列表 -->
        <div id="member_center_wishlist" class="memberform member_hide">
          <h1 class="s3 fontcontent me_4 ml_4">Your Wishlist</h1>
          <table class="memtable h1">
            <thead>
              <tr>
                <th>商品圖片</th>
                <th>商品名稱</th>
                <th>productStatus</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <!-- <wish
                v-for="wishTemplate in member_wish_obj"
                v-bind="wishTemplate"
              >
              </wish> -->
              <tr>
                <td>pic</td>
                <td>productname</td>
                <td>avaliable</td>
                <td>3000</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 優惠券 -->
        <div id="member_center_redeem" class="memberform member_hide">
          <h1 class="h1">Redeem List</h1>
        </div>

        <!-- 改密碼 -->
        <div id="member_center_changepassword" class="memberform member_hide">
          <h1 class="h1">Change Password</h1>
        </div>
        <!-- 登出 -->
        <div id="member_center_logout" class="memberform member_hide">
          <h1 class="h1">Log out</h1>
        </div>
      </div>
    </div>
    <script>
      let ordersTemplate = Vue.component("orders", {
        props: ["orderNum", "orderDate", "orderStatus", "orderTotal"],
        template: `<tr>
                  <td>{{orderNum}}</td>
                  <td>{{orderDate}}</td>
                  <td>{{orderStatus}}</td>
                  <td>{{orderTotal}}</td>
                  </tr>
                  `,
      });
    //   let wishTemplate = Vue.component("wish", {
    //     props: ["商品圖片", "商品名稱", "productStatus", "price"],
    //     template: `<tr>
    //               <td>{{商品圖片}}</td>
    //               <td>{{商品名稱}}</td>
    //               <td>{{productStatus}}</td>
    //               <td>{{price}}</td>
    //               </tr>
    //               `,
    //   });
      new Vue({
        el: ".member_container",
        data: {
          member_orders_obj: [
            {
              orderNum: `1`,
              orderDate: `2022/04/21`,
              orderStatus: `waiting for confirm`,
              orderTotal: `5656500`,
            },
            {
              orderNum: `2`,
              orderDate: `2022/04/21`,
              orderStatus: `waiting for confirm`,
              orderTotal: `5656500`,
            },
          ],
        //   mem_wish_obj: [
        //     {
        //       商品圖片: ``,
        //       商品名稱: ``,
        //       productStatus: ``,
        //       price: ``,
        //     },
        //   ],
        },
      });
    </script>
    <script>
      let changeTab = (e) => {
        // console.log(e.target);
        let memberform = document.querySelectorAll(".memberform");
        for (
          let i = 0;
          i < document.querySelector(".ul").children.length;
          i++
        ) {
          if (e.target == document.querySelector(".ul").children[i]) {
            memberform[i].classList.remove("member_hide");
            document
              .querySelector("#member_welcome")
              .classList.add("member_hide");
          } else if (e.target == document.querySelector(".ul")) {
            document
              .querySelector("#member_welcome")
              .classList.remove("member_hide");
            memberform[i].classList.add("member_hide");
          } else {
            memberform[i].classList.add("member_hide");
          }
        }
      };
      init = () => {
        let ul = document.querySelector(".ul");
        // console.log(ul.children[0]);
        ul.addEventListener("click", changeTab, false);
      };

      window.addEventListener("load", init, false);
    </script>
    <!-- footer  -->
    @@include('layout/footer.html')

    <!-- script -->
    @@include('layout/script.html')
  </body>
</html>
