<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('layout/meta.html', { "title" : "News" })
    <script src="./js/mouse.js"></script>
</head>

<body>
    <div class="mouse"></div>
    @@include('layout/header.html')
    <div class="containerALL">
        <h1>Promotions</h1>
        <ul class="promotionsList" id="promotionsList">
            <template v-for="promoRow in promoRows">
                <li is="G_menu" v-bind="promoRow"></li>
            </template>
        </ul>
        <h1>News</h1>
        <ul class="newsList" id="newsList">
            <template v-for="newsRow in newsRows">
                <li is="H_menu" v-bind="newsRow"></li>
            </template>
        </ul>
        <!-- <ul class="newsList" id="abcd">
            <H_menu v-for="newsMenu in newsObject" v-bind="newsMenu">
            </H_menu>
        </ul> -->
    </div>
    <script>
        let promoRow = Vue.component('G_menu',{
            props: ['promotions_no', 'promotions_name', 'promotions_startDate', 'promotions_endDate', 'promotions_state', 'promotionsImage_path', 'promotions_text'],
            template: `
                <li class="newsCard ps_1 pe_1">
                    <div class="newsPic ">
                        <img :src="'images//'+ promotionsImage_path" :alt="promotions_name">
                    </div>
                    <div class="pl_2 pr_2 newsText">
                        <div class="menu_title">
                            <h1 class="h1 fontcontent font_w7 fontTitle">{{promotions_name}}</h1>
                            <p class="h2 fontcontent font_w5 fontTitle">Event : {{promotions_startDate}}~{{promotions_endDate}}</p>
                        </div>
                        <div>
                            <p class="p1 fontcontent fontColor">{{promotions_text}}</p>
                        </div>
                    </div>
                </li>
            `
        }) ;
        let newsRow = Vue.component('H_menu',{
            props: ['news_no', 'news_title', 'news_text', 'newsImage_path', 'news_publish', 'news_state'],
            template: `
                <li class="newsCard ps_1 pe_1">
                    <div class="newsPic ">
                        <img :src="'images//'+ newsImage_path" :alt="news_title">
                    </div>
                    <div class="pl_2 pr_2 newsText">
                        <div class="menu_title">
                            <h1 class="h1 fontcontent font_w7 fontTitle">{{news_title}}</h1>
                            <p class="h2 fontcontent font_w5 fontTitle">Publish : {{news_publish}}</p>
                        </div>
                        <div>
                            <p class="p1 fontcontent fontColor">{{news_text}}</p>
                        </div>
                    </div>
                </li>
            `
        }) ;
        let promotionsVue =
            new Vue({
                    el: '#promotionsList',
                    data: {
                        promoRows: [],
                        
                    },
                    created() {
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            promotionsVue.promoRows = JSON.parse(xhr.responseText);

                        }
                        xhr.open("get", "getPromotions.php", true);
                        xhr.send(null);
                    },
                })
        let newsVue =
            new Vue({
                    el: '#newsList',
                    data: {
                        newsRows: [],
                    },
                    created() {
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            newsVue.newsRows = JSON.parse(xhr.responseText);

                        }
                        xhr.open("get", "getNews.php", true);
                        xhr.send(null);
                    },
                })
    </script>
    <!-- footer  -->
    @@include('layout/footer.html')

    <!-- script -->
    @@include('layout/script.html')
</body>

</html>