<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/meta.html', { "title" : "商品內頁" })
</head>

<body>
    <!-- header -->
    @@include('layout/header.html')
    <!-- header end -->
    <div class="containerALL me_8" id="product">
        <!-- breadcrumb -->
        <div id="breadcrumb_list">
            <breadcrumb-list></breadcrumb-list>
        </div>
        <!-- breadcrumb end-->
        <section class="product_main_box me_6">
            <div class="main_product_img" v-if="prodInfoRow.length !=0">
                <prodimg-main :image_path="prodInfoRow[0]?.image_path"></prodimg-main>

                <div class="small_products_img_box" v-if="prodInfoRow.length !=0">
                    <prodimg-small v-for='(prodImgSmall,index) in prodInfoRow' :key="(prodImgSmall.id)" v-bind="prodImgSmall" :small-img="prodInfoRow[index]"></prodimg-small>
                </div>
            </div>
            <div class="purchase_panel pl_6" v-if="prodInfoRow.length !=0">
                <purchase-panel v-bind="prodInfoRow[0]" :add="add"></purchase-panel>
                
                <div class="product_details_box me_6" v-if="prodInfoRow.length !=0">
                    <prod-info v-bind="prodInfoRow[0]"></prod-info>
                </div>
            </div> 
        </section>
        <section class="product_designer_box me_6" v-if="prodInfoRow.length !=0">
            <des-info v-bind="prodInfoRow[0]"></des-info>
        </section>       
    </div>
    <!-- footer  -->
    @@include('layout/footer.html')

    <script src="./js/breadcrumb.js"></script>
    
    <!-- 商品內頁 -->
    <script src="./js/productInner.js"></script>
    <script src="./js/productInnerVue.js"></script>
    <!-- script -->
    @@include('layout/script.html')
</body>

</html>