<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', { "title" : "Light Up For You" })
</head>
<body>
    <!-- header -->
    @@include('layout/header.html')
    <!-- header end -->
    <section class="simulation_luminosity" id="simulation_luminosity" :style="{ backdropFilter: 'contrast(60%)' }">

        <!-- 投射燈光幕 -->
        <div class="entrance_lamp"></div>

        <!-- 投射燈光 -->
        <!-- <div id="entrance_light" class="entrance_homepage"></div> -->

        <!-- 燈光 -->
        <div class="wall-light-shadow" :style="{ backgroundColor : color, opacity : alpha/175 ,backdropFilter: `saturate(${alpha/100 *10}) contrast(${alpha}%)` }"></div>

        <!-- 控制面板 -->
        <form class="simulation_form" oninput="simulation_luminosity.setAttribute('data-light', slider.value)">
            <div class="range">
                
                <label class="sliderValue">
                    <span class="indicator" :style="{ left : (alpha/1.24) + '%' }">{{alpha}}</span>
                </label>
                
                <label class="field">
                    <div class="value left">0</div>
                    <input type="range" id="slider" value="0" min="0" max="100" steps="1" v-model="alpha">
                    <div class="value right">100</div>
                </label>

                <label class="colorfield">
                    <span>Color</span>
                    <input type="color" v-model="color">
                    <span>{{color}}</span>
                </label>
            </div>
        </form>
    </section>
    <!-- 情境模擬 -->
    <!-- <script src="./js/simulation.js"></script> -->
    <script src="./js/simulationVue.js"></script>
    <!-- footer  -->
    @@include('layout/footer.html')
    <!-- script -->
    @@include('layout/script.html')
</body>
</html>