<div id="breadcrumb_list" class="containerALL ms_4 me_4">
    <breadcrumb-list v-for="breadcrumb in breadcrumbObject" v-bind="breadcrumb"></breadcrumb-list>
</div>
<script>
    let breadcrumb = Vue.component('breadcrumb-list', {
        props: ['homepageLink', 'productMainLink', 'productCategoryLink', 'productName'],
        template: `<ol class="breadcrumb-list">
                        <li class="breadcrumb-item">
                            <a :href="homepageLink">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a :href="productMainLink">Product</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a :href="productCategoryLink">Floor Lamps</a>
                        </li>
                        <li class="breadcrumb-item active">{{productName}}</li>
                    </ol> `,
    })
    const breadcrumbObject = new Vue({
        el: `#breadcrumb_list`,
        data: {
            breadcrumbObject: [
                {
                    homepageLink: `homePage.html`,
                    productMainLink: `productMain.html`,
                    productCategoryLink: `productFloorLamps`,
                    productName: `Floor Lamps Name`
                }
            ]
        },
    })
</script>