<div class="cart_section">
    <div class="cart hidden">
        <h2 class="h2">Cart List</h2>
        <div id="newItem"></div>
        <div id="content">
            <div>
                Item : <span id="itemCount">0</span> item(s)
            </div>
            <div>
                Subtotal : $ <span id="subtotal">0</span>
            </div>
            <div class="cartProcess">
                <a href="cartEdit.html">
                    <button class="btn_small">edit cart
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>