<div class="cartEdit_progress_bar me_4">
    <h1 class="h1">Shopping Cart</h1>
    <ul class="cartEdit_progress_bar_content">
        <li class="progress_step">
            <p class="progress_title p2">1.Cart Contents</p>
            <div class="progress_point"></div>
        </li>
        <li class="progress_step">
            <p class="progress_title p2">2.Fill Order</p>
            <div class="progress_point"></div>
        </li>
        <li class="progress_step">
            <p class="progress_title p2">3.Confirm Order</p>
            <div class="progress_point"></div>
        </li>
        <li class="progress_step">
            <p class="progress_title p2">4.Order completed</p>
            <div class="progress_point"></div>
        </li>
    </ul>
</div>