<footer>
  <!-- footer -->
  <div class="footer_all">
    <div class="footer_wrap ms_4 pl_8 pr_8">
      <div class="footer_img">
        <a href="../index.html">
          <img src="../images/footer_logo_web.svg" alt="" />
        </a>
      </div>      
      <div class="footer_img_mobile me_1">
        <a href="../index.html">
          <img src="../images/footer_logo_mobile.svg" alt="" />
        </a>
      </div>
      <div class="footer_addres ml_8">
        <p class="h2 me_4 fontcontent">123 Market St. #22B<br>Charlottesville, California<br>44635</p>
        <p class="h2 fontcontent">(434) 546-4356</p>
        <p class="h2 me_4 fontcontent">contact@lift.agency</p>
      </div>
      <ul>
        <li class="h5 me_4 fontcontent">Contact Us</li>
        <li class="h5 me_4 fontcontent">FAQ</li>
      </ul>
    </div>
  </div>
  <div class="footer_bottom ps_2 pr_8 pe_2 pl_8">
    <p class="h5">
      本網站為緯育TibaMe_前端設計工程師班第75期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[緯育TibaMe]，後續會由專人協助處理。
    </p>
  </div>
  <!-- 0522新增a標籤  回到最上層-->
  <a id="b_top"></a>
  <!-- 0522新增a標籤 -->
</footer>
