<header>
    <!-- 導覽列-網頁版 -->
    <section class="main_header">
        <div class="main_nav" id="mainnav">
            <h1 class="logo">
                <a href="./homePage.html">
                    <img src="./images/nav_logo_web.svg" alt="LUFY - Light Up For You">
                </a>
            </h1>
            <div class="main_menu_link p1">
                <div class="main_menu_button" onclick="showCart()">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="main_menu_button" onclick="window.location.assign('memberCenter.html')">
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="main_menu_button" style="visibility: hidden;">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
        <!-- 漢堡鍵 -->
        <div class="main_menu_content p1">
            <div id="hamburger">
                <span></span><span></span><span></span>
            </div>
        </div>
    </section>

    <!-- 導覽列-手機版 -->
    <section class="main_header_mobile">
        <div class="main_nav" id="mainnav">
            <h1 class="logo_mobile">
                <a href="./homePage.html">
                    <img src="./images/nav_logo_mobile.svg" alt="LUFY - Light Up For You">
                </a>
            </h1>
            <div class="main_menu_link p1">
                <div class="main_menu_button" onclick="showCart()">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="main_menu_button">
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="main_menu_button" id="hamburger_mobile">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </section>
    <section class="shopping_cart_box hidden ps_2 pe_2 pl_2 pr_2">
        <div class="shopping-cart ps_3 pe_2 pl_2 pr_2">
            <h1 class="h1 ms_1">Shopping Cart</h1>

            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
            </div>
        </div>

        <div class="totals">
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">90.57</div>
            </div>
        </div>

        <a href="cartEdit.html
        "><button class="checkout">Checkout</button></a>

        </div>
    </section>
    <div class="main_menu_box">
        <ul>
            <li>
                <i class="fa-solid fa-bars"></i>
            </li>
            <li>
                <p class="p2">menu</p>
            </li>
            <li><a class="h1" href="projectMain.html">Project</a></li>
            <li><a class="h1" href="productMain.html">Product</a></li>
            <li><a class="h1" href="news.html">News</a></li>
            <li><a class="h1" href="aboutUs.html">About Us</a></li>
            <li><a class="h1" href="support.html">FAQ</a></li>
            <li><a class="h1" href="simulation.html">Simulation</a></li>
            <li>
                <p class="p2">Get in touch</p>
                <p class="p1">email@email.com</p>
            </li>
        </ul>
    </div>
</header>