<div id="product_category" class="product_category ms_4 me_4">
    <product-category v-for='(category, index) in categoryObject' :key="category.id" v-bind="category"></product-category>
</div>
<script>
    let category = Vue.component('product-category', {
        props: ['categoryLink', 'categoryImage', 'categoryName'],
        template: `<div class="category">
                            <a :href="categoryLink">
                                <img :src="categoryImage" :alt="categoryName">
                                <p class="p1">{{categoryName}}</p>
                            </a>
                        </div>`,
    })
    const productCategory = new Vue({
        el: '#product_category',
        data: {
            categoryObject: [],
            focusId: NaN,
        },
        computed: {
            filterList() {
                if (isNaN(this.focusId)) return this.list;
                return this.list.filter(item => item.cat_no == this.focusId);
            },
        },
        methods: {
            setCategory() {
                console.log(mounted)
                axios.get('productCategory.php').then(function (response) {
                    this.commodityObject = response.data;
                    console.log(response.data)
                });
            }
        },
        mounted() {
            this.setCategory();
        }
    }) 
</script>