<div id="product_category" class="product_category ms_4 me_4">
    <category-list v-for='category in categoryObject' :category="categoryObject"></category-list>
    <ol class="category">
        <li class="categoryItem">
            <a :href="item.link" v-for="item in category">{{item.name}}
                <img :src="item.path" alt="">
                <p></p>
            </a>
        </li>
    </ol>
</div>
<script>
    let category = Vue.component('category-list', {
        props: ['categoryLink', 'categoryImage', 'categoryName'],
        template: `<ol class="category">
                            <a :href="categoryLink">
                                <img :src="categoryImage" :alt="categoryName">
                                <p class="p1">{{categoryName}}</p>
                            </a>
                        </ol>`,
    })
    const vm = new Vue({
        el: '#product_category',
        data: {
            categoryObject: []
        },
        methods: {
            setCategory(){}
        },
        created() {},
        mounted(){
            axios.get('productCategory.php').then(function (response) {
                this.commodityObject = response.data;
            });
            this.setCategory();
        }
    }) 
</script>